[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
    display: none !important;
}

.vivocarat-heading {
    padding-top: 50px;
    font-family: 'raleway';
    font-size: 28px;
    font-weight: bolder;
    color: #787878 !important;
    padding-left: 0px;
    padding-right: 30px;
    text-align: left;
    position: relative;
}

.vivocarat-heading:after {
    content: ' ';
    background: -moz-linear-gradient(left, rgba(208, 208, 208, 1) 1%, rgba(240, 240, 240, 1) 90%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(208, 208, 208, 1) 1%, rgba(240, 240, 240, 1) 90%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(208, 208, 208, 1) 1%, rgba(240, 240, 240, 1) 90%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0d0d0 ', endColorstr='#00ffffff', GradientType=1);
    height: 1px;
    min-width: 75%;
    position: absolute;
    top: 75%;
    margin-left: 20px;
}

.categoryGrad {
    background: -moz-linear-gradient(left, rgba(208, 208, 208, 1) 1%, rgba(240, 240, 240, 1) 90%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(208, 208, 208, 1) 1%, rgba(240, 240, 240, 1) 90%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(208, 208, 208, 1) 1%, rgba(240, 240, 240, 1) 90%, rgba(255, 255, 255, 0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0d0d0 ', endColorstr='#00ffffff', GradientType=1);
}

.vivocarat-theme-colour {
    color: #E62739 !important
}

.italic {
    font-style: italic;
}

.pointer {
    cursor: pointer !important;
}

.box-shadow-outside {
    -webkit-box-shadow: 0px 4px 11px 2px rgba(198, 198, 188, 1);
    -moz-box-shadow: 0px 4px 11px 2px rgba(198, 198, 188, 1);
    box-shadow: 0px 4px 11px 2px rgba(198, 198, 188, 1);
}

.yellowGradient {
    background: #f7f5e9;
    background: -moz-linear-gradient(top, #f7f5e9 0%, #f0ecd5 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #f7f5e9), color-stop(100%, #f0ecd5));
    background: -webkit-linear-gradient(top, #f7f5e9 0%, #f0ecd5 100%);
    background: -o-linear-gradient(top, #f7f5e9 0%, #f0ecd5 100%);
    background: -ms-linear-gradient(top, #f7f5e9 0%, #f0ecd5 100%);
    background: linear-gradient(to bottom, #f7f5e9 0%, #f0ecd5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f5e9 ', endColorstr='#f0ecd5 ', GradientType=0);
}

.bold-font {
    font-weight: bold;
}

.remove-link {
    font-size: 12px;
    text-decoration: underline !important;
    color: #e62739 !important;
    font-family: 'leela';
}

.link-hover {
    text-decoration: underline;
    color: #e62739 !important;
}

.grey-colour {
    color: #797979 !important;
}

.text-grey-colour {
    color: #7e7e7e !important;
}

.white-colour {
    color: white !important;
}

.white-background{
    background-color: white !important;
}

.underline {
    text-decoration: underline;
}

.uppercase {
    text-transform: uppercase;
}

.border-radius-none {
    border-radius: 0px !important;
}

.small-button {
    border-radius: 0px !important;
    padding: 2px 30px 2px 30px !important;
}

.normal-text {
    font-size: 13px;
    font-family: 'leela';
}

/*Position classes*/
.width-100-percent {
    width: 100%;
}

.no-padding-left {
    padding-left: 0px !important;
}

.no-padding-right {
    padding-right: 0px !important;
}

.no-padding-left-right {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.no-padding {
    padding: 0px;
}

.-ve-margin-top-68px {
    margin-top: -68px;
}

.margin-top-68px {
    margin-top: 68px;
}

.margin-top-30px {
    margin-top: 30px;
}

.margin-top-10px {
    margin-top: 10px;
}

.padding-top-30px {
    padding-top: 30px;
}

.padding-top-10px {
    padding-top: 10px;
}

.padding-top-20px {
    padding-top: 20px;
}

.padding-bottom-60px {
    padding-bottom: 60px;
}

.padding-bottom-20px {
    padding-bottom: 20px;
}

.padding-bottom-30px {
    padding-bottom: 30px;
}

.margin-bottom-20px {
    margin-bottom: 20px;
}

.margin-bottom-10px {
    margin-bottom: 10px;
}

.padding-top-0px {
    padding-top: 0px;
}

.padding-bottom-10px {
    padding-bottom: 10px;
}

.margin-top-0px {
    margin-top: 0px !important;
}

.margin-none {
    margin: 0px;
}

.padding-top-17px {
    padding-top: 17px;
}

.padding-top-60px {
    padding-top: 60px;
}

.padding-top-5px {
    padding-top: 5px;
}

.padding-bottom-5px {
    padding-bottom: 5px;
}

.padding-left-15px {
    padding-left: 15px;
}

.padding-left-10px {
    padding-left: 10px;
}

.padding-left-5px {
    padding-left: 5px;
}

.padding-left-30px {
    padding-left: 30px;
}

.margin-left-10px {
    margin-left: 10px;
}

.padding-right-10px {
    padding-right: 10px;
}

.padding-right-15px {
    padding-right: 15px;
}

.padding-2px {
    padding: 2px;
}

.padding-left-right-48px {
    padding-left: 48px;
    padding-right: 48px;
}

.bottom-margin-15px-padding-25px {
    margin-bottom: 15px;
    padding-bottom: 25px;
}

.bottom-margin-15px-padding-10px {
    margin-bottom: 15px;
    padding-bottom: 10px;
}

.margin-left-right-30px {
    margin-right: 30px;
    margin-left: 30px;
}

.margin-bottom-15px {
    margin-bottom: 15px;
}
/*END of Positional classes*/


/*vivo-header css*/
.megamenu>li>a.small {
    width: 80px;
}

.megamenu>li>a {
    float: initial !important;
    line-height: 45px;
    padding-left: 50px;
    padding-right: 50px;
}

.megapanel {
    width: 910px !important;
    margin-left: -15%;
    -webkit-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.20);
}

.megamenu .megapanel img:hover {
    border: none !important;
}

.megamenu .megapanel img {
    border: none !important;
}

.h_nav>ul>li {
    border-bottom: 1px solid #D2D2D2;
    padding-top: 2px;
    padding-bottom: 2px;
}

.h_nav>ul>li:hover {
    border-bottom: 1px solid #e7e7e7;
    padding-top: 2px;
    padding-bottom: 2px;
}

.h_nav h4 {
    border-bottom: 1px solid #e5e5e5;
    font-size: 1em;
    line-height: 1.8em;
    margin-bottom: 4%;
}

.h_nav h4.top {
    margin-top: 12%;
}

.h_nav ul li {
    display: block;
}

.h_nav ul li a {
    display: block;
    font-size: 0.85em;
    color: #b3b3b3 !important;
    line-height: 2.8em;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.h_nav ul li a:hover {
    color: black !important;
    font-weight: bold;
}

.text-left-img-ul {
    display: block;
    list-style: none;
}

.text-left-img {
    float: left;
    margin-left: 20px;
    border-bottom: 0px !important;
}

.text-left-img:first-child {
    float: left;
    margin-left: 7px;
    border-bottom: 0px !important;
}

.text-left-img:hover {
    border-bottom: 0px !important;
}

nav {
    text-align: center;
}

.fixed {
    position: fixed;
    top: 0;
    height: inherit;
    z-index: 1002;
    width: 100%;
}

.menushadow {
    -webkit-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.20);
    -moz-box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.20);
    box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.20);
}

.userProfile {
    color: white !important;
}

.userProfile:hover {
    color: #797979 !important;
}

.compare-background{
    padding: 20px 0px 20px 20px;
    background-color: #f5f5f5;
}

.compare-product-background{
    margin-top: 3px;
    padding:0px !important;
    height: 240px;
    border: 1px solid #e3e2de;
}

.remove {
    cursor: pointer;
    display: block;
    height: 20px;
    position: absolute;
    right: -19px;
    top: 0px;
    width: 35px;
    background: url("../images/header/icons/rem.png") no-repeat scroll 0 1px transparent;
}

ul>li>a:hover {
    color: black !important;
}

@media (min-width:1366px) {
    .megamenu>li>.megapanel {
        top: 44px !important;
    }
}

@media (max-width:1280px) {
    .megamenu>li>.megapanel {
        top: 44px !important;
    }
}

#arrow:hover:after {
    content: '';
    height: 0;
    display: block;
    border-color: transparent transparent #e62739 transparent;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: -13px;
    left: 294px;
}

#caret1:hover:after {
    content: '';
    height: 0;
    display: block;
    border-color: transparent transparent #e62739 transparent;
    border-width: 6px;
    border-style: solid;
    position: absolute;
    top: -12px;
    right: 242px;
}

.hidden-background-colour {
    background-color: #383838;
}

.hidden-header-structure {
    background-color: #383838 !important;
    padding-top: 4px;
    padding-bottom: 4px;
    font-family: 'leela';
    font-size: 14px;
}

.unauthenticated-structure {
    font-family: 'leela';
    font-size: 14px;
    margin-top: 2px;
    padding-right: 0px;
}

.authenticated-structure {
    font-family: 'leela';
    font-size: 14px;
    padding: 0px !important;
}

.hi-username {
    padding-right: 10px;
    padding-left: 10px;
    display: inline-block;
    width: 80px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 10px;
}

.usp-header {
    font-family: 'leela';
    font-weight: bold;
    padding-top: 30px;
    font-size: 14px;
    color: #797979 !important;
}

.cart-image-position {
    margin-top: 17px;
}

.cart-length {
    color: #797979 !important;
    margin-top: -30px;
    padding-right: 10px;
}

.cart-length-nil {
    margin-top: -30px;
    color: #797979 !important;
    padding-right: 11px;
}

.fixed-header-structure {
    padding: 0px;
    border: 1px solid #d1d1d1;
    font-family: 'leela';
    font-size: 16px;
    height: 45px;
}

.collection-menu {
    padding: 0px;
    border: 1px solid #d8d8d8;
    border-top: 1px solid #e3535b;
}

.base-metal-heading {
    margin-bottom: 0px !important;
    font-weight: bold;
    padding-bottom: 15px;
}

.lookbook-menu {
    text-align: center;
    padding-top: 15px !Important;
    padding-bottom: 14px !Important;
    background-color: #e62739;
    color: white !important;
    font-weight: bold;
    padding-left: 80px !important;
    padding-right: 80px !important;
}

.lookbook-menu:hover {
    color: white !important;
}

.brands-menu {
    background-color: #FFFFFF;
    padding: 15px;
    border: 1px solid #cdcdcd;
    border-top: 1px solid #e3535b;
}

.fixed-cart-length-structure {
    margin-top: -21px;
    color: #797979 !important;
    font-size: 12px;
}

.fixed-cart-length-nil {
    margin-top: -21px;
    color: #797979 !important;
    font-size: 12px;
}
/*END of vivo-header css*/

/*vivo-footer CSS*/
.footer-background-colour {
    background-color: #e2e2e2;
}

.footer-structure {
    padding-top: 50px;
}

.footer-headings {
    padding-bottom: 20px;
    color: #7e7e7e !important;
    font-family: 'leela';
    font-size: 13px;
    font-weight: bolder;
}

.footer-links {
    color: #7d7d7d !important;
}

.footer-links:hover {
    color: black;
    font-weight: bold;
}

.newsletter-submit-button {
    z-index: 0;
    color: #fff !important;
    background-color: #e62739 !important;
    border-color: #e62739 !important;
    font-family: 'leela';
    font-size: 13px !important;
    padding: 5px 0px 5px 0px !important;
    margin-left: 44px;
    width: 69%;
    border-radius: 5px !important;
    border-bottom-left-radius: 0px !important;
    border-top-left-radius: 0px !important;
    display: block !important;
    line-height: 1.5 !important;
}

.newsletter-submit-button-structure {
    padding: 0px 53px 0px 27px;
}

.newsletter-input-field {
    width: 100%;
    font-family: 'leela';
    margin-left: 60px;
    font-size: 13px;
    padding: 5px 10px 5px 20px;
    border: 1px solid #d5d5d5;
    background-color: white;
    border-radius: 5px;
    color: #6b6b6b !important;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    line-height: 1.5 !important;
}

.copyright-text {
    color: #6e6e6e !important;
    font-family: 'leela';
    font-size: 13px;
    text-align: right;
}

.middle-footer {
    background-color: #f4f4f4;
    padding-top: 20px;
    padding-bottom: 20px;
}

.middle-footer-heading {
    font-size: 14px;
    font-family: 'leela';
    font-weight: bold;
}

.middle-footer-links {
    color: #7e7e7e !important;
    font-size: 13px;
    font-family: 'leela';
    font-weight: bold;
}

.middle-footer-links:hover {
    color: black !important;
}

.footer-end {
    background-color: #343434;
    padding-top: 40px;
    padding-bottom: 40px;
}

.modal-text {
    font-family: 'leela';
    font-size: 15px;
    font-weight: bold;
    color: #E62739;
}
/*END of vivofooter css*/

/*aboutus css*/
.paragraph-text {
    font-family: 'leela';
    font-size: 13px;
    padding-right: 20px;
    padding-left: 20px;
}

.subheader {
    font-size: 16px;
    font-family: 'leela';
}

.offerings-heading {
    padding-bottom: 10px;
    font-size: 20px;
    font-family: 'leela';
    font-weight: bold;
    color: #797979 !important;
}

.discovery-platform-background {
    background-color: #ffc9ce;
}

.discovery-platform-paragraph-position {
    padding-top: 150px;
    padding-left: 100px !important;
    padding-bottom: 10px;
}

.discovery-platform-image-position {
    margin-top: -243px;
    margin-left: 548px;
}

.trusted-brands-background {
    background-color: #f0b8ff;
}

.trusted-brands-paragraph-position {
    padding-top: 150px;
    padding-right: 40px !important;
    padding-bottom: 15px;
}

.trusted-brands-image-position {
    margin-top: -239px;
    margin-left: 38px;
}

.curated-products-background {
    background-color: #fceec7;
}

.curated-products-image-position {
    margin-top: -243px;
    margin-left: 548px;
}

.customization-background {
    background-color: #c5cbff;
}

.customization-top-border-position {
    margin-top: 127px;
    margin-left: 29px;
}

.customization-image-position {
    margin-top: -280px;
    margin-left: 54px;
}

.customization-bottom-border-position {
    margin-left: -53px;
}

.vivo-advantage-heading {
    font-family: 'leela';
    font-size: 18px;
    font-weight: bold;
    color: #797979 !important;
    padding-top: 50px;
    padding-left: 20px;
}

.vivo-advantage-paragraph {
    font-family: 'leela';
    font-size: 13px;
    color: #797979 !important;
    padding-left: 20px;
    padding-right: 140px;
    padding-bottom: 20px;
    max-width: 500px;
}

.certified-background-image{
    background-image:url('../images/about us/certified & hallmarked.png');
    background-repeat: no-repeat;
    height: 255px;
    background-position: 100%;
}
    
.free-shipping-background-image{
   background-image:url('../images/about us/free shipping.png');
   background-repeat: no-repeat; 
   height: 255px;
   background-position: 100%;
}
    
.payment-gateway-background-image{
   background-image:url('../images/about us/payment gateways.png');
   background-repeat: no-repeat; 
   height: 255px;
   background-position: 100%;     
}
    
.return-background-image{
   background-image:url('../images/about us/easy return policy.png');
   background-repeat: no-repeat; 
   height: 255px;
   background-position: 100%;     
}
/*END of aboutus css*/

/*account css*/
.credsfont {
    font-family: 'leela' !important;
    margin-bottom: 25px !important;
    font-size: 13px;
    color: #797979 !important;
}

.tabs-left {
    margin-top: 3rem;
}

.active {
    display: block;
}

.text-style {
    font-family: 'leela';
    font-size: 15px;
    font-weight: bold;
    text-align: justify;
}

.tab-head:hover {
    border: none;
    cursor: pointer;
}

.vivo-row {
    margin-top: 10px;
}

.tabs-style {
    margin-top: 17px;
    background-color: #ececec;
}

.first-tab-size {
    padding: 10px 0px 10px 25px;
}

.second-tab-size {
    padding: 0px 0px 13px 25px;
}

.inactive-tab-text-colour {
    color: #797979 !important;
}

.inactive-tab-text-colour:hover {
    color: #797979 !important;
}

.not-loggedin-pad {
    padding: 17px 30px 12px 30px;
}

.arrow {
    position: relative;
    color: white !important;
    margin-bottom: 6px;
}

.red-gradient {
    height: 20px;
    padding: 10px;
    width: 200px;
    color: #000000;
    background: #e62739;
}

.red-account {
    color: white !important;
    background: #e62739;
    padding: 8px 46px 8px 25px;
    font-weight: bold;
}

.red-account:hover {
    color: white !important;
    background: #e62739;
    padding: 8px 46px 8px 25px;
}

#arrow-account:after {
    content: '';
    height: 0;
    display: block;
    border-color: transparent transparent transparent #e62739;
    border-width: 17px;
    border-style: solid;
    position: absolute;
    top: -7px;
    left: 172px;
}
/*END of account css*/

/*wishlist css*/
.bottom-shadow {
    border-bottom: 2px solid #eee;
    padding-bottom: 30px;
    -webkit-box-shadow: 0px 1px 1px #eee;
    -moz-box-shadow: 0px 1px 0px #eee;
    box-shadow: 0px 1px 0px #eee;
}
/*END of wishlist css*/

/*orders css*/
.process-row {
    display: table-row;
}

.process {
    display: table;
    width: 100%;
    position: relative;
}

.process-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.process-row:before {
    top: 50px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 67%;
    height: 1px;
}

.process-step {
    padding-top: 20px;
    display: table-cell;
    text-align: center;
    position: relative;
    height: 80px;
}

.process-step p {
    margin-top: 10px;
    margin-bottom: 20px;
}

.btn-circle {
    width: 100px;
    height: 100px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
}

.feedback-style {
    font-family: 'leela';
    font-size: 12px;
    letter-spacing: 0px;
    color: #797979 !important;
}

.btn-style {
    float: right !important;
    width: 100%;
    font-size: 15px;
    margin-top: 4px;
    color: white !important;
    background-color: #E62739 !important;
    z-index: 0;
    border-radius: 0px;
}

.btn-style:hover {
    float: right !important;
    width: 100%;
    font-size: 15px;
    margin-top: 4px;
    color: white !important;
    background-color: #E62739 !important;
    z-index: 0;
    border-radius: 0px;
}

.panel-title>center>a {
    font-size: 25px;
    color: #E62739 !important;
    font-family: 'leela' !important;
    font-weight: 200;
    text-transform: uppercase;
}

.rightrem {
    font-family: 'leela';
    color: #e62739 !important;
    font-size: 12px;
}

.rightrems:hover {
    font-family: 'leela';
    color: #e62739 !important;
    font-size: 12px;
}
/*END of orders css*/

/*checkout css*/
.cartGrad {
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 73%, #f5f5f5 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #ffffff), color-stop(73%, #f6f6f6), color-stop(100%, #f5f5f5));
    background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 73%, #f5f5f5 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 73%, #f5f5f5 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 73%, #f5f5f5 100%);
    background: linear-gradient(to bottom, #ffffff 0%, #f6f6f6 73%, #f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff ', endColorstr='#f5f5f5 ', GradientType=0);
    padding-right: 0px;
    padding-left: 0px;
}

.vivo-row {
    margin-top: 10px;
}

.vivo-input {
    border-radius: 0px !important;
}

.promocode {
    padding: 3px;
    padding-left: 18px;
    font-size: 15px;
    color: #797979;
    border: 1px solid #d1d1d1;
    height: 34px;
    margin-top: 0px;
    width: 274px;
}

.price_box_checkout_page {
    background: white;
    border: 1px solid #e5e5e5;
    -webkit-box-shadow: 0px 0px 19px -7px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: 0px 0px 19px -7px rgba(0, 0, 0, 0.66);
    box-shadow: 0px 0px 19px -7px rgba(0, 0, 0, 0.66);
    font-weight: bold;
}

.proceedbutton {
    z-index: 0;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 13px !important;
    padding-bottom: 13px !important;
    font-family: 'leela';
    font-size: 18px !important;
    width: 100%;
    margin-top: 10px;
    border-radius: 0px !important;
}

.vivo-panel-checkout-product {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;
    opacity: 1;
    height: 400px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 0 0 0px 1px #000;
}

.pad-left-right {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.pad-left {
    padding-left: 0px !important;
}

.rightfont {
    font-family: 'leela';
    font-size: 15px;
    padding-bottom: 10px;
    color: #797979 !important;
    text-align: right;
}

.register_account form input[type="text"],
.register_account form select {
    font-size: 0.95em;
    color: #888888 !important;
    padding: 8px;
    outline: none;
    width: 100%;
}

.register_account form input[type="numeric"],
.register_account form select {
    font-size: 0.95em;
    color: #888888 !important;
    padding: 8px;
    outline: none;
    width: 100%;
}

.register_account form input[type="text"]:invalid {
    color: red !important;
}

.register_account form input[type="text"]:valid {
    color: green !important;
}

.register_account form input[type="email"]:invalid {
    color: red !important;
}

.register_account form input[type="email"]:valid {
    color: green !important;
}

.register_account form input[type="numeric"]:invalid {
    color: red !important;
}

.register_account form input[type="numeric"]:valid {
    color: green !important;
}

.no-products-in-cart {
    margin-top: 150px;
    margin-bottom: 150px;
    font-family: 'leela';
    font-size: 20px;
}

.shop-more {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    color: #E62739 !important;
}

.add-quantity {
    margin-left: 15px;
    padding: 5px;
    z-index: 0;
}

.subtract-quantity {
    margin-right: 15px;
    padding: 5px;
    z-index: 0;
}

.free-gift-text {
    font-size: 20px;
    font-weight: bold;
    font-family: 'leela';
    color: #e62739 !important;
}

.total-price-text {
    color: #E62739!important;
    font-weight: bold;
    font-size: 18px;
    margin: 0px;
}

.continue-shopping-text {
    z-index: 0;
    color: #E62739 !important;
    text-decoration: underline;
    font-family: 'leela';
    font-size: 15px;
}

.facebook-button {
    border-radius: 0px !important;
    background-color: #3b64b6 !important;
    border-color: #3b64b6 !important;
    padding: 16px 0px;
}

.google-plus-button {
    border-radius: 0px !important;
    background-color: #dd4c3b !important;
    border-color: #dd4c3b !important;
}

.product-summary-structure {
    height: 260px;
    padding-bottom: 0px;
    border-bottom: 1px solid #eee;
    margin-top: 30px;
}

.product-summary-image {
    border: 1px solid #eee;
    width: 232px;
    height: 210px;
}

.gift-wrap-position{
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -15px;
}

.grand-total-text{
    font-family: 'leela';
    font-size:20px;
    font-weight: bold;
    text-transform: uppercase;
    color:#e52638 !important;
}
/*END of checkout css*/

/*orders css*/
.order-status-structure {
    height: 230px !important;
    padding-bottom: 0px !important;
    box-shadow: none;
    padding-right: 0px !important;
    padding-left: 30px !important;
}

.need-help-structure {
    background-color: #e8e8e8;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #a6a6a6;
    border-right: 1px solid #a6a6a6;
}

.need-help-text {
    font-size: 15px;
    margin: 0px;
    padding-top: 10px;
    text-align: center;
    font-family: 'leela';
    font-weight: bold;
    color: #797979 !important;
}

.email-us-structure {
    border-right: 1px solid #afafaf;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.call-us-structure {
    border-right: 1px solid #afafaf;
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.chat-with-us-structure {
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 5px;
}
/*END of orders css*/

/*paymentsuccess css*/
.payment-success-text {
    font-family: 'leela';
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 40px;
    text-transform: uppercase;
    text-align: center;
}

.product-summary-heading {
    text-align: center;
    font-family: 'leela';
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
}

.customer-details-heading {
    font-family: 'leela';
    font-size: 16px;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.big-button {
    z-index: 0;
    font-family: 'leela';
    text-transform: uppercase;
    border-radius: 0px !important;
    color: white !important;
    background-color: #E62739 !important;
    border-color: #E62739 !important;
    padding-top: 13px !important;
    padding-bottom: 13px !important;
    font-size: 15px !important;
    width: 200px;
}
/*END of paymentsuccess css*/

/*list,splist,search css*/
.k-delete,
.k-group-delete,
.k-i-close {
    background-size: contain !important;
    background-position: inherit !important;
    background-image: url("../images/list/icons/remove.png") !important;
}

.filter-header-text {
    color: #797979 !important;
    font-weight: 200;
    padding-left: 0px;
    font-family: 'leela';
    font-size: 13px;
}

.filter-text {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    font-weight: normal;
}

.checkbox-position {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -3px;
    *overflow: hidden;
}

.product_description_border {
    border-right: 1px solid #D8D8D8;
    font-weight: bold;
}

.price_box_product_page {
    background: white;
    border: 2px solid #d8d8d8;
    box-shadow: 2px 2px 10px 1px #d8d8d8;
    padding: 10px
}

.main {
    margin: 2% 0;
}

.cont {
    display: block;
    float: left;
}

.sale-box {
    height: 100px;
    right: -5px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    top: -5px;
    width: 100px;
}

.sale-box span.before {
    right: 89px;
    background: #CB3D27;
}

.sale-box span.on_sale {
    background: #B6B6B6;
    color: #E62739 !important;
    display: block;
    left: -9px;
    font-size: 1em;
    padding: 5px 0;
    position: relative;
    text-align: center;
    top: 25px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 140px;
    z-index: 2;
    text-transform: uppercase;
    border-bottom: 2px solid #E6E6E6;
}

span.reducedfrom {
    text-decoration: line-through;
    margin-right: 8%;
    color: #555;
}

.sale-box span.before {
    right: 89px;
    background: #CB3D27;
}

.top-box1 {
    margin-bottom: 4%;
}

.button-de {
    color: #E62739 !important;
    background-color: #fff !important;
    border-color: #E62739 !important;
}

.button-de:hover {
    color: #fff !important;
    background-color: #E62739 !important;
    border-color: #fff !important;
}

p.m_5 {
    font-size: 1.8em;
    color: #555;
}

p.m_5 a {
    color: #777;
    font-size: 15px;
}

p.m_5 a:hover {
    color: #000;
}

.btn-list {
    padding: 5px 30px 5px 30px !important;
    background-color: #E62739;
    border: 1px solid #E62739 !important;
    color: white !important;
    border-radius: 1px !important;
    z-index: 0 !important;
    text-transform: uppercase;
}

.btn-list:hover {
    padding: 5px 30px 5px 30px;
    background-color: #c71829;
    border: 1px solid #E62739;
    color: white !important;
    border-radius: 1px;
    z-index: 0;
    text-transform: uppercase;
}

.tag {
    padding: 0px 0px 10px 0px;
    position: absolute;
    left: 0;
    top: 0;
}

.result-for {
    color: #E22B46 !important;
    padding-top: 20px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'leela';
}
/*END of list,splist,search css*/

/*store css*/
.store-category-image {
    border: 1px solid #d8d8d8;
    box-shadow: 2px 2px 10px 1px #d8d8d8;
}

.store-category-image:hover {
    border: 1px solid #d8d8d8;
    box-shadow: 1px 1px 1px 1px #d8d8d8;
}
/*END of store css*/

/*product css*/
.nav-tabs>li {
    width: 33.33%;
}

.product {
    border-bottom: 1px solid #e5e5e5;
}

.panel-default>.panel-heading {
    border: none;
    background-color: white;
}

.panel-default {
    border: none !important;
}

.product-tab-head {
    font-size: 16px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    font-family: 'leela';
    font-weight: bold;
}

li.active>a.product-tab-head,
a.product-tab-head:hover {
    border: none;
    cursor: default;
    border: 0px solid #ddd;
    border-bottom-color: transparent;
}

.product {
    margin-top: 10px;
    margin-bottom: 10px;
}

.product_description_bold {
    font-weight: bold;
}

.lpad {
    padding-left: 0px !important;
    color: #7e7e7e !important;
    font-family: 'leela' !important;
}

.colfont {
    color: #888888 !important;
    font-family: 'leela' !important;
}

.titlepad {
    margin-top: 20px !important;
    margin-bottom: 20px !important;
    font-family: 'leela' !important;
    font-weight: bold;
    font-size: 13px;
}

.panelpad {
    padding-top: 0px;
    padding: 0px !important;
}

.panhead {
    padding-left: 0px;
}

#etalage .etalage_icon {
    background-image: none !important;
    width: 84px;
    height: 84px;
}

.product_image:after {
    position: absolute;
    content: '';
    width: 1px;
    top: 5px;
    bottom: 0;
    right: 0;
    background: linear-gradient(to top, rgba(213, 210, 210, 0) 0, rgba(213, 210, 210, 0) 10%, #d5d2d2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d5d2d2', endColorstr='#d5d2d2', GradientType=0);
}

.product_image img {
    display: block;
}

p.m_text {
    color: #888;
    font-size: 0.95em;
    margin-bottom: 20px;
}

#products .pagination {
    margin-top: 8px;
    float: left;
}

#products .pagination li {
    float: left;
    margin: 2px 4px;
    list-style: none;
}

#products .pagination li:first-child {
    margin-left: 0px;
}

#products .pagination li a {
    border: 1px solid #D6D6D6;
    display: block;
    width: 101px;
    height: 84px;
}

#products .pagination li a img {
    width: 100%;
}

#products .pagination li.current a {
    margin: 0;
}

.images_3_of_2 {
    width: 41.2%;
    float: left;
    margin-right: 2.6%;
}

#container {
    margin: 0 auto;
    position: relative;
    z-index: 0;
}

#products_example {
    position: relative;
}

#products .slides_container {
    width: 99.3333%;
    height: 295px;
    overflow: hidden;
    float: left;
    position: relative;
    border: 1px solid #F0F0F0;
    display: none;
}

#products .next,
#products .prev {
    position: absolute;
    top: 90px;
    left: 5px;
    width: 21px;
    height: 0;
    padding-top: 21px;
    overflow: hidden;
    display: block;
    z-index: 101;
}

p.m_text {
    color: #777;
    font-size: 0.85em;
    line-height: 1.8em;
}

.vivo-main-only-product {
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(247, 244, 244, 1) 61%, rgba(247, 247, 247, 1) 81%, rgba(240, 237, 240, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(61%, rgba(247, 244, 244, 1)), color-stop(81%, rgba(247, 247, 247, 1)), color-stop(100%, rgba(240, 237, 240, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(247, 244, 244, 1) 61%, rgba(247, 247, 247, 1) 81%, rgba(240, 237, 240, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(247, 244, 244, 1) 61%, rgba(247, 247, 247, 1) 81%, rgba(240, 237, 240, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(247, 244, 244, 1) 61%, rgba(247, 247, 247, 1) 81%, rgba(240, 237, 240, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(247, 244, 244, 1) 61%, rgba(247, 247, 247, 1) 81%, rgba(240, 237, 240, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0edf0', GradientType=0);
    margin-top: 60px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-right: 0px;
    padding-left: 0px;
    font-family: 'leela';
    font-size: 15px !important;
}

.buy-now-button {
    z-index: 0;
    padding-top: 13px !important;
    padding-bottom: 13px !important;
    font-family: leela;
    font-size: 25px !important;
    font-weight: bold !important;
    padding-left: 60px !important;
    padding-right: 60px !important;
    border-radius: 0px !important;
    color: #fff !important;
    background-color: #E62739 !important;
    border-color: #E62739 !important;
}

.buy-now-button:hover {
    z-index: 0;
    padding-top: 13px;
    padding-bottom: 13px;
    font-family: leela;
    font-size: 25px;
    font-weight: bold;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 0px;
    color: #fff !important;
    background-color: #c71829 !important;
    border-color: #c71829 !important;
}

.btn-cart {
    color: #e62739 !important;
    background-color: #dddfe5;
    border-radius: 0px !important;
    z-index: 0;
    text-transform: none;
    padding-top: 13px !important;
    padding-bottom: 13px !Important;
    font-family: leela;
    font-size: 25px !important;
    font-weight: bold !important;
    padding-left: 60px !important;
    padding-right: 60px !important;
}

.btn-cart:hover {
    color: #e62739;
    background-color: #ccced3;
    border-radius: 0px !important;
    z-index: 0;
    text-transform: none;
    padding-top: 13px !important;
    padding-bottom: 13px !Important;
    font-family: leela;
    font-size: 25px !important;
    font-weight: bold !important;
    padding-left: 60px !important;
    padding-right: 60px !important;
}

.customize-button-structure {
    padding-top: 54px;
    text-align: right;
}

.customize-button {
    z-index: 0;
    padding-top: 13px !important;
    padding-bottom: 13px !important;
    font-size: 15px;
    font-weight: bold;
    font-family: 'leela';
    padding-left: 40px !important;
    padding-right: 40px !important;
    color: #e62739 !important;
    background-color: #dddfe5;
    border-radius: 0px !important;
}

.customize-button:hover {
    background-color: #ccced3;
}

.customize-modal-outer {
    border: 1px solid #ababab !important;
    border-radius: 0px !important;
    position: relative;
    background-color: #fff;
    background-clip: padding-box;
    outline: 0;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 24px -1px rgba(0, 0, 0, 1);
}

.customize-background-image {
    background: url('../images/product/customize/customize background.png') no-repeat;
}

.customize-modal-body {
    position: relative;
    padding: 30px;
}

.customize-heading {
    font-size: 25px;
    font-family: 'leela';
    font-weight: bold;
    color: #ffffff !important;
    text-align: center;
    padding-bottom: 20px;
}

.customize-steps {
    font-family: 'leela';
    font-size: 14px;
    color: #ffffff !important;
    text-align: center;
}

.customize-fields {
    border: none;
    border-bottom: 1px solid #c8c8c8;
    outline: none;
    padding-bottom: 10px;
    color: #b2b2b2;
    font-family: 'leela';
    width: 90%;
}

.customize-credential {
    font-size: 14px;
    font-family: 'leela';
    color: #797979 !important;
}

.customize-comments {
    border: 1px solid #c8c8c8;
    outline: none;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 82px;
    width: 100%;
}

.upload-image {
    padding: 5px !important;
    background-color: white;
    border: 1px solid #E62739 !important;
    color: #797979 !important;
    border-radius: 1px !important;
    z-index: 0 !important;
}

.upload-image:hover {
    padding: 5px;
    background-color: #E62739;
    border: 1px solid #E62739;
    color: white !important;
    border-radius: 1px;
    z-index: 0;
}

.remove-custom-image {
    cursor: pointer;
    display: block;
    height: 20px;
    position: absolute;
    top: 14px;
    margin-left: 87px;
    width: 5%;
    background: url('../images/product/customize/remove.png') no-repeat scroll 0 1px transparent;
}

.customization-submit-button {
    font-family: 'leela';
    font-size: 18px;
    font-weight: bold;
    color: #ffffff !important;
    background-color: #E62739;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.customization-submit-button[disabled] {
    cursor: not-allowed;
}

.customization-submit-button:hover {
    font-family: 'leela';
    font-size: 18px;
    font-weight: bold;
    color: #E62739 !important;
    background-color: #ffffff;
    border: 1px solid #E62739;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.product-title {
    font-family: 'leela';
    font-size: 25px;
    margin-top: 0px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #797979 !important;
}

.jeweller-logo {
    width: 15%;
}

.product-price {
    color: #E62739 !important;
    font-family: 'leela';
    font-size: 25px;
    font-weight: bold;
}

.cut-price {
    font-family: 'leela' !important;
    font-size: 20px;
    font-weight: bold;
    color: #797979 !important;
    text-decoration: line-through;
    margin-top: 3px;
}

.discount {
    padding-top: 5px;
    font-family: 'leela' !important;
    font-size: 20px;
    font-weight: bold;
    color: #797979 !important;
}

.expected-text {
    color: #797979 !important;
    font-size: 12px;
    font-family: leela;
}

.all-select-size {
    width: 20%;
    margin-top: 16px;
}

.ring-size-structure {
    margin-top: 22px;
    padding-bottom: 20px;
}

.ring-size-text {
    font-family: 'leela';
    font-size: 15px;
    color: #797979 !important;
}

.bracelet-select-position {
    padding-top: 22px;
    padding-bottom: 20px;
    width: 403px;
}

.bracelet-select-structure {
    width: 78px;
    margin-top: -7px;
}

.bangle-size-select-structure {
    padding-top: 22px;
    padding-bottom: 20px;
    padding-left: 0px;
    width: 403px;
    ;
}

.ring-guide-structure {
    margin-top: 22px;
    padding-left: 0px !important;
    text-decoration: underline;
}

.ring-guide-text {
    font-style: italic;
    font-family: 'leela';
    color: #797979 !important;
    font-weight: bold;
    font-size: 15px;
}

.jeweller-logo-accordion {
    width: 15%;
    margin-bottom: 15px;
}

.jeweller-name-position {
    padding-left: 20px;
    padding-right: 20px;
}

.jeweller-name-accordion {
    font-family: 'leela';
    font-size: 16px;
    font-weight: bold;
}

.overall-rating{
    font: bold 30px 'leela';
    color: #3c424e !important;
}

.total-rating{
    font: bold 20px 'leela';
    color: #3b434e !important;
}

.rating-position{
    padding-top: 70px;
}

/* start jeweller rating*/
.rating {
    color: #a9a9a9;
    margin: 0;
    padding: 0;
}

ul.rating {
    display: inline-block;
}

.rating li {
    list-style-type: none;
    display: inline-block;
    padding: 1px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    font-size:30px;
}

.rating .filled {
    color: #f29400;
}

.clear{
  margin-top:20px;
}
/* end jeweller rating*/

.bottom-gradient:after{
    background: #ffffff ;
    background: -moz-linear-gradient(left, #ffffff 0%, #bababa 50%, #ffffff 100%);
    background: -webkit-linear-gradient(left, #ffffff 0%,#bababa 50%,#ffffff 100%);
    background: linear-gradient(to right, #ffffff 0%,#bababa 50%,#ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff ', endColorstr='#ffffff ',GradientType=1 );
    width: 100%;
    height: 1px;
    top: 170px;
    position: absolute;
}

.user-rating-background{
    background-color: #17a503;
    text-align: center;
    border-radius: 4px;
    font: 18px 'leela';
    color: #ffffff !important;
    padding-left: 1px !important;
    padding-right: 1px !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.review-top-position{
    margin-top: -4px;
}

.review-title{
    font: bold 18px 'leela';
    color: #3c4250 !important;
}

.reviewer-details{
    font: 18px 'leela';
    color: #9c9c9c !important;
}

.review-text{
    font: 15px 'leela';
    color: #3b4350 !important;
}

.no-review-present-text{
    font: 15px 'leela';
    color: #000000 !important;
}

.read-more-review-text{
    font: italic 18px 'leela';
    text-decoration: underline;
}

.scroll-review-list{
    overflow-y: auto;
    height: 386px;
}

.write-review-heading{
    font: 15px 'leela';
    color: #000000 !important;
    text-transform: uppercase;
    padding-top: 30px;
    padding-bottom: 20px;
}

.compose-review-structure{
    border: 1px solid #e5e5e5;
    padding-top: 20px;
}

.score-text{
    font:bold 15px 'leela';
    color: #3d434f !important;
    text-transform: uppercase;
    padding-top: 30px;
}

.review-input-field{
    font: 15px 'leela';
    color: #3b4350 !important;
    border: 1px solid #cccccc;
    width:100%;
    height: 40px;
    outline: none;
    padding-left: 15px;
}

.review-textarea{
    font: 15px 'leela';
    color: #3b4350 !important;
    border: 1px solid #cccccc;
    width:100%;
    height: 150px;
    padding-top: 20px;
    padding-left: 15px;
    outline: none;
    resize: none;
}

.post-review-button{
    background-color: #e62739;
    color: #ffffff !important;
    text-transform: uppercase;
    font: 20px 'leela';
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.post-review-button:hover{
    background-color: #c71829 !important;
    border-color: #E62739 !important;
    color: #ffffff !important;
}
/*END of product css*/

/*login css*/
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.register_account {
    padding: 1% 0;
}

.register_account table td {
    width: 100%;
}

.register_account form input[type="email"],
.register_account form select {
    font-size: 0.95em;
    color: #888888 !important;
    padding: 8px;
    outline: none;
    width: 100%;
    font-family: 'leela';
}

.register_account form input[type="email"].code {
    width: 15%;
}

.register_account form input[type="email"].number {
    width: 69.8%;
}

.register_account form input[type="password"],
.register_account form select {
    font-size: 0.95em;
    color: #777;
    padding: 8px;
    outline: none;
    width: 100%;
    font-family: 'leela';
}

.register_account form input[type="password"].code {
    width: 15%;
}

.register_account form input[type="password"].number {
    width: 69.8%;
}

.register_account form input[type="text"],
.register_account form select {
    font-size: 0.95em;
    color: #888888 !important;
    padding: 8px;
    outline: none;
    width: 100%;
    font-family: 'leela';
}

.register_account form input[type="text"].code {
    width: 15%;
}

.register_account form input[type="text"].number {
    width: 69.8%;
}

.register_account form input[type="text"].code {
    width: 15%;
}

.gothbody {
    font-family: 'leela';
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 0px;
    color: #797979 !important;
}

.placeholdlight {
    font-family: 'leela';
    font-size: 15px;
}

.error-text {
    border-bottom: 1px solid red !important;
}

.correct-text {
    border-bottom: 1px solid #aaa !important;
}

.create-account-button {
    margin-top: 20px;
    border-radius: 0px !important;
    font-size: 18px !important;
    font-weight: bold !important;
    text-transform: uppercase;
    color: white !important;
    padding: 13px 16px !important;
    font-family: leela;
    background-color: #E62739 !important;
    border-color: #E62739 !important;
    z-index: 0;
    width: 100%;
}

.create-account-button:hover {
    margin-top: 20px;
    border-radius: 0px !important;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: white !important;
    padding: 13px 16px;
    font-family: leela;
    background-color: #c71829 !important;
    border-color: #E62739 !important;
    z-index: 0;
    width: 100%;
}

.or {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'leela';
    font-size: 15px;
    color: #797979 !important;
    font-weight: bold;
}

.facebook-login-button {
    border-radius: 0px !important;
    background-color: #3b64b6 !important;
    border-color: #3b64b6 !important;
    padding-top: 13px !important;
    padding-bottom: 13px !important;
    width: 100%;
    font-family: leela;
    z-index: 0;
    color: #fff !important;
}

.login-with-text {
    font-size: 18px;
    font-family: leela;
    font-weight: bold;
    color: white !important;
    padding: 0px;
}

.google-plus-login-button {
    border-radius: 0px !important;
    background-color: #dd4c3b !important;
    border-color: #dd4c3b !important;
    padding-top: 13px !important;
    padding-bottom: 13px !important;
    width: 100%;
    font-family: 'leela';
    z-index: 0;
    color: #fff !important;
}

.required-star {
    color: #E62739 !important;
    left: -4px;
    font-size: 18px;
    top: 0px;
}
/*END of login css*/

/*lookbook css*/
.lookbook-title {
    position: relative;
    background: #e5e5e5;
    font-family: 'leela';
    font-size: 15px;
    font-weight: bold;
    margin: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
}

.lookbook-title:after {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(229, 229, 229, 0);
    border-left-color: #e5e5e5;
    border-width: 26px;
    margin-top: -26px;
}

.short-description {
    font-family: 'leela';
    font-size: 15px;
    padding-top: 34px;
    padding-bottom: 30px;
}
/*END of lookbook css*/

/*loookbookArticle css*/
.btn-book {
    padding: 5px 30px 5px 30px !important;
    background-color: white;
    border: 1px solid #E62739 !important;
    color: #E62739 !important;
    border-radius: 1px !important;
    z-index: 0 !important;
}

.btn-book:hover {
    padding: 5px 30px 5px 30px;
    background-color: #E62739;
    border: 1px solid #E62739;
    color: white !important;
    border-radius: 1px;
    z-index: 0;
}

.article-title {
    font-family: 'raleway';
    font-size: 30px;
    font-weight: bold;
    color: #797979 !important;
}

.lookbook-article-link {
    font-weight: bold;
    color: #E62739 !important;
}

.similar-looks-heading {
    font-family: 'raleway';
    font-size: 15px;
    font-weight: bold;
    color: #797979 !important;
}

.related-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'leela';
    font-size: 13px;
    border: 1px solid #d5d5d5;
    border-top: transparent;
}
/*END of lookbookArticle css*/

/*jewelleryeducation css*/
.four-C-box-size {
    border-top: solid 1px #FFFEF9;
    padding: 10px 0px 10px 20px;
    z-index: 1;
}

.four-C-text {
    font-family: 'raleway';
    font-size: 16px;
    font-weight: bold;
    color: #E62739 !important;
}

.left-paragraph-structure {
    background-color: #ffffff;
    margin-left: 30px;
    margin-top: -34px;
}

.right-paragraph-structure {
    background-color: #ffffff;
    margin-left: 33px;
    margin-top: -34px;
    padding: 0px !important;
}
/*END of jewelleryeducation css*/

/*moissanite css*/
.paragraph-structure {
    padding: 0px;
    padding-top: 20px;
    padding-left: 80px !important;
}

.short-snippet {
    color: #787878 !important;
    font-style: italic;
    font-size: 20px;
    font-family: 'leela';
    margin-bottom: 20px;
}

.snippet-description {
    color: #787878 !important;
    font-size: 14px;
    font-family: 'leela';
    margin-bottom: 15px;
}

.beauty-heading {
    font-family: 'leela';
    color: #787878 !important;
    font-size: 14px;
    font-weight: bold;
}

.durability-heading {
    color: #787878 !important;
    font-size: 14px;
    font-weight: bold;
    font-family: 'leela';
    padding-left: 60px;
    padding-right: 60px;
}

.second-heading-background {
    background-color: #e5e5e5;
    border-bottom: 1px solid #d2d2d2;
}

.gemstone-heading {
    color: #787878 !important;
    font-size: 14px;
    font-weight: bold;
    font-family: 'leela';
    padding-left: 60px;
    padding-right: 60px;
}

.RI-heading {
    color: #787878 !important;
    font-size: 14px;
    font-weight: bold;
    font-family: 'leela';
    padding-left: 10px;
    padding-right: 10px;
}

.fire-dispersion-heading {
    color: #787878 !important;
    font-size: 14px;
    font-weight: bold;
    font-family: 'leela';
    padding-left: 50px;
    padding-right: 50px;
}

.hardness-heading {
    color: #787878 !important;
    font-size: 14px;
    font-weight: bold;
    font-family: 'leela';
    padding-left: 20px;
    padding-right: 20px;
}

.toughness-heading {
    color: #787878 !important;
    font-size: 14px;
    font-weight: bold;
    font-family: 'leela';
    padding-left: 60px;
    padding-right: 60px;
}

.moissanite {
    color: #787878 !important;
    background-color: #ffd2d2 !important;
    font-size: 14px;
    font-weight: bold;
    font-family: 'leela';
    padding-left: 10px;
}

.moissanite-properties {
    color: #787878 !important;
    background-color: #ffd2d2 !important;
    font-size: 14px;
    font-family: 'leela';
    padding-left: 10px;
}

.other-gems-heading {
    color: #787878 !important;
    font-size: 14px;
    font-weight: bold;
    font-family: 'leela';
    padding-left: 10px;
}

.other-gems-properties {
    color: #787878 !important;
    font-size: 14px;
    font-family: 'leela';
    padding-left: 10px;
}

.Q {
    color: #797979 !important;
    font-size: 14px;
    font-weight: bold;
    font-family: 'leela';
}

.A {
    color: #909090 !important;
    font-size: 14px;
    font-family: 'leela';
}
/*END of moissanite css*/

/*contact css*/
.heading {
    font-size: 18px;
    font-family: 'leela';
    color: #797979 !important;
    margin-bottom: 15px;
}

.contact-information {
    font-size: 14px;
    font-family: 'leela';
    color: #797979 !important;
    margin-bottom: 0px;
}

.have-a-query {
    font-family: 'leela';
    font-size: 14px;
    font-weight: bold;
    color: #797979 !important;
    background-color: #ffd2d2;
    padding-top: 10px;
    padding-bottom: 10px;
}

.contact-fields {
    border: none;
    border-bottom: 1px solid #c8c8c8;
    outline: none;
    padding-bottom: 10px;
    color: #b2b2b2;
    background-color: #e5e5e5;
    width: 90%;
    font-family: 'leela';
}

.contact-fields-background {
    background-color: #e5e5e5;
}

.contact-button {
    width: 100%;
    background: #e62739;
    border-radius: 0px !important;
    color: white !important;
    font-size: 18px !important;
    font-family: 'leela';
    font-weight: bold !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.contact-button:hover {
    background: #c71829;
    color: white !important;
}
/*END of contact css*/

/*Partner CSS*/
.dedicated-background-image{
    background-image:url('../images/partner/dedicated brand store.png');
    background-repeat: no-repeat;
    height: 255px;
    background-position: 100%;
}
    
.sell-across-background-image{
   background-image:url('../images/partner/sell across india.png');
   background-repeat: no-repeat; 
   height: 255px;
   background-position: 100%;
}
    
.operational-assistance-background-image{
   background-image:url('../images/partner/operational assistance.png');
   background-repeat: no-repeat; 
   height: 255px;
   background-position: 100%;     
}
    
.analysis-background-image{
   background-image:url('../images/partner/exhaustive analysis.png');
   background-repeat: no-repeat; 
   height: 255px;
   background-position: 100%;     
} 
    
.brand-promotion-background-image{
   background-image:url('../images/partner/brand promotion.png');
   background-repeat: no-repeat; 
   height: 255px;
   background-position: 100%;     
}
/*END of Partner CSS*/

/*ringguide css*/
.ring-guide-position {
    margin-top: 60px;
    margin-left: 100px;
}
/*END of ringguide css*/

/*privacypolicy css*/
.privacy-heading {
    color: #E62739 !important;
    font-family: 'leela';
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 20px;
}
/*END of privacypolicy css*/

/*sitemap css*/
.sitemap-heading {
    border-bottom: 1px solid;
    margin-bottom: 5px;
    color: #E62739 !important;
    font-size: 16px;
    font-family: 'leela';
}

.bottom-list-space {
    padding-bottom: 5px;
}
/*END of sitemap css*/

/*For resetting page*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
dl,
dt,
dd,
ol,
nav ul,
nav li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    /* color: #000; Hidden by PR */
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/RALEWAY-REGULAR.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muller';
    src: url('../fonts/MULLER-THIN.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'muller-bold';
    src: url('../fonts/MULLER-EXTRABOLD.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'leela';
    src: url('../fonts/Leelawadee.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*index(homepage) css*/

/*Image scroller css */
/* Container DIV - automatically generated */
.simply-scroll-container1 {
    position: relative;
}

/* Clip DIV - automatically generated */
.simply-scroll-clip {
    position: relative;
    overflow: hidden;
}

/* UL/OL/DIV - the element that simplyScroll is inited on
Class name automatically added to element */
.simply-scroll-list {
    overflow: hidden;
    margin: 0;
    padding: 0;
    list-style: none;
}

.simply-scroll-list img {
    padding: 0px 10px 0px 10px;
    margin: 0;
    list-style: none;
}

.simply-scroll-list img {
    border: none;
    display: block;
}
/* Custom class modifications - adds to / overrides above

.simply-scroll is default base class */
/* Container DIV */
.simply-scroll {
    width: 1111px;
    padding-left: 30px;
    padding-right: 30px;
}

/* Clip DIV */
.simply-scroll .simply-scroll-clip {
    width: 1051px;
}

/* Explicitly set height/width of each list item */
.simply-scroll .simply-scroll-list img {
    float: left;
    /* Horizontal scroll only */
    width: 215px;
    max-width: 100%;
    vertical-align: baseline;
}

/*To add white colour fade effect*/
.scroller-parent-container{
    position:relative;
    padding: 30px 0px 30px 0px;
    border: 1px solid #d1d1d1;
    z-index: 1;
    background-color: white;
    width: 1112px !important;
    margin-top:-80px;
}

.scroller-parent-container:before{
    content: ' ';
    position: absolute;
    width: 30px;
    height: 112px;
    z-index: 1;
    background: #FFFFFF;
    -webkit-box-shadow: 15px 2px 16px 0px #FFFFFF;
    -moz-box-shadow: 15px 2px 16px 0px #FFFFFF;
    box-shadow: 15px 2px 16px 0px #FFFFFF;
}

.scroller-parent-container:after{
    content: ' ';
    position: absolute;
    width: 30px;
    right: 0px;
    height: 112px;
    top: 30px;
    z-index: 1;
    background: #FFFFFF;
    -webkit-box-shadow: -16px 1px 15px 0px #FFFFFF;
    -moz-box-shadow: -16px 1px 15px 0px #FFFFFF;
    box-shadow: -16px 1px 15px 0px #FFFFFF;
}
/*END of white colour fade effect*/

/*Media queries for scroller*/
@media (min-width: 2560px) {
    .infyscroll {
        margin-top: 417px !important;
    }
}

@media (min-width: 1920px) {
    .infyscroll {
        margin-top: 189px !important;
    }
}

@media (min-width: 1366px) {
    .infyscroll {
        margin-top: -45px !important;
    }
}
/*END of media queries for scroller*/

/*END of image scroller css*/

#scroll {
    position: fixed;
    right: 10px;
    bottom: 45px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    background-color: #E62739;
    text-indent: -9999px;
    display: none;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px
}

#scroll span {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -8px;
    margin-top: -12px;
    height: 0;
    width: 0;
    border: 8px solid transparent;
    border-bottom-color: #ffffff
}

#scroll:hover {
    background-color: #E62739;
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "alpha(opacity=100)";
}

.truncate {
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.grid-price-before {
    text-decoration: line-through;
    padding: 2px;
    font-family: 'leela';
    font-size: 12px;
}

.grid-price-after {
    font-weight: bold;
    color: #E62739 !important;
    font-size: 16px;
    font-family: 'leela';
    font-size: 15px;
}

.grid-off {
    padding: 2px !important;
    font-family: 'leela';
    font-size: 12px;
}

.vivo-step-active {
    color: white !important;
    background-color: #E62739;
    padding: 10px;
    border: 1px solid grey;
}

.vivo-step {
    color: black !important;
    background-color: white;
    padding: 10px;
    border: 1px solid grey;
}

i:hover {
    color: #E62739 !important;
}

a {
    cursor: pointer;
}

.megamenu>li>a {
    width: 20%;
}

.megapanel {
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 70px #D4D3D3;
}

.menu {
    width: 100%;
}

.vivo-panel {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    background-color: #ffffff;
    opacity: 1;
    height: 400px;
    text-align: center;
}

.vivo-login-panel {
    padding: 20px;
    background-color: #ffffff;
    opacity: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: none;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
}

.social-network a.icoRss:hover {
    background-color: #F56505;
}

.social-network a.icoFacebook:hover {
    background-color: #3B5998;
}

.social-network a.icoTwitter:hover {
    background-color: #33ccff;
}

.social-network a.icoGoogle:hover {
    background-color: #BD3518;
}

.social-network a.icoVimeo:hover {
    background-color: #0590B8;
}

.social-network a.icoLinkedin:hover {
    background-color: #007bb7;
}

.social-network a.icoRss:hover i,
.social-network a.icoFacebook:hover i,
.social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i,
.social-network a.icoVimeo:hover i,
.social-network a.icoLinkedin:hover i {
    color: #fff;
}

a.socialIcon:hover,
.socialHoverClass {
    color: #44BCDD;
}

.social-circle li a {
    display: inline-block;
    position: relative;
    margin: 0 auto 0 auto;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.social-circle li i {
    margin: 0;
    line-height: 50px;
    text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-circle i {
    color: #E62739;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}

h3 {
    color: #696969;
}

.footer-bottom {
    background-color: #1D1D1D;
}

a:hover {
    color: #E62739 !important;
    text-decoration: none !important;
}

.home-panel-row {
    margin-top: 35px;
    padding: 0px;
}

.checkout-panel-row {
    margin-top: 15px;
}

li>a:hover {
    color: #E62739 !important;
    text-decoration: none !important;
}

.copy p {
    margin: 0px;
    color: white !important;
}

.copy i {
    color: white !important;
}

.hovereffect {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
}

.hovereffect .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    padding: 50px 20px;
}

.hovereffect:hover img {
    box-shadow: 2px 3px 5px 0px rgba(0, 0, 0, 0.67);
}

.hovereffect h2 {
    text-transform: uppercase;
    color: #000;
    text-align: center;
    position: relative;
    font-size: 17px;
    overflow: hidden;
    padding: 0.5em 0;
    background-color: transparent;
}

.btn-vivo {
    font-weight: 200;
    text-transform: uppercase;
    border-radius: 0px !important;
    z-index: 0;
    color: #fff !important;
    background-color: #E62739 !important;
    border-color: #E62739 !important;
}

.grid-icon:hover {
    border: none;
}

.mar-top-10 {
    margin-top: 10px;
}

.mar-top-20 {
    margin-top: 20px;
}

.mar-top-25 {
    margin-top: 25px;
}

.vivo-main-only-header {
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(247, 244, 244, 1) 61%, rgba(247, 247, 247, 1) 81%, rgba(240, 237, 240, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(61%, rgba(247, 244, 244, 1)), color-stop(81%, rgba(247, 247, 247, 1)), color-stop(100%, rgba(240, 237, 240, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(247, 244, 244, 1) 61%, rgba(247, 247, 247, 1) 81%, rgba(240, 237, 240, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(247, 244, 244, 1) 61%, rgba(247, 247, 247, 1) 81%, rgba(240, 237, 240, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(247, 244, 244, 1) 61%, rgba(247, 247, 247, 1) 81%, rgba(240, 237, 240, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(247, 244, 244, 1) 61%, rgba(247, 247, 247, 1) 81%, rgba(240, 237, 240, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0edf0', GradientType=0);
    margin-top: 60px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'vivo-header-bold';
    font-size: 15px !important;
}

.tab-product {
    width: 33%;
}

.vivo-main-header {
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(247, 244, 244, 1) 61%, rgba(247, 247, 247, 1) 81%, rgba(240, 237, 240, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255, 255, 255, 1)), color-stop(61%, rgba(247, 244, 244, 1)), color-stop(81%, rgba(247, 247, 247, 1)), color-stop(100%, rgba(240, 237, 240, 1)));
    background: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(247, 244, 244, 1) 61%, rgba(247, 247, 247, 1) 81%, rgba(240, 237, 240, 1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(247, 244, 244, 1) 61%, rgba(247, 247, 247, 1) 81%, rgba(240, 237, 240, 1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255, 1) 0%, rgba(247, 244, 244, 1) 61%, rgba(247, 247, 247, 1) 81%, rgba(240, 237, 240, 1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(247, 244, 244, 1) 61%, rgba(247, 247, 247, 1) 81%, rgba(240, 237, 240, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f0edf0', GradientType=0);
    border: 1px solid #eee;
}

.btn-vivo:hover {
    color: white !important;
    background-color: #c71829 !important;
    border-color: #c71829 !important;
}

.btn-vivo-checkout {
    z-index: 0;
    color: #fff !important;
    background-color: #E62739 !important;
    border-color: #E62739 !important;
    font-family: leela;
    padding-top: 13px !important;
    padding-bottom: 13px !important;
}

.btn-vivo-checkout:hover {
    color: white !important;
    background-color: #c71829 !important;
    border-color: #E62739 !important;
}

.height>.item {
    height: 370px !important;
}

.ban-img {
    width: 100%;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .icon-prev {
    left: 20%;
}

/*Carousel hover effect - Displays arrows on mouse hover*/
.carousel .carousel-control {
    visibility: hidden;
}

.carousel:hover .carousel-control {
    visibility: visible;
}
/*END of mouse hover effect*/

/*Sprite for scroll buttons of carousel banners on hover*/
.left-scroll{
	background: url('../images/home/icons/home icons.png') no-repeat 0 0; 
    width: 29px;
	height: 59px;
    margin-top: 15px;
}

.right-scroll{
	background: url('../images/home/icons/home icons.png') no-repeat -79px 0; 
    width: 29px;
	height: 59px;
    margin-top: 18px;
}
/*END of sprite for scroll buttons of carousel banners on hover*/

.carousel-control .glyphicon-chevron-right,
.carousel-control .icon-next {
    right: 20%;
}

.grid-price-after1 {
    font-weight: bold;
    color: black !important;
    font-family: 'muller-bold';
    font-size: 15px;
    text-align: center;
    padding: 0px !important;
}

.carousel-indicators li {
    margin: 7px;
    background-color: transparent;
}

.carousel-indicators .active {
    margin: 0px 7px 6px 7px;
    background-color: #fdfeff !important;
}

.banner-arrow-structure {
    background-image: none !important;
    margin-top: 135px;
    width: 60px !important;
}

.featured-products-arrow-structure {
    margin-top: 56px;
    padding: 0px;
}

.featured-products-arrow-background {
    background-image: none !important;
}

.featured-products-right-arrow-position {
    margin-left: -15px;
}

.lookbook-structure {
    background-color: #f7f7f7;
    padding-top: 40px;
    padding-bottom: 40px;
}

.title-background {
    background-image: url('../images/lookbook/Big arrow.jpg');
    background-repeat: no-repeat;
    background-position: 100%;
    margin: 0px;
    background-color: #ffffff;
    padding-top: 11px;
    padding-bottom: 12px;
    padding-left: 5px;
    font-family: 'leela';
    font-size: 15px;
    font-weight: bold;
}

.lookbook-footer {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'leela';
    font-size: 13px;
    border: 1px solid #d5d5d5;
    border-top: transparent;
    background-color: #ffffff;
}

.browse-more-button {
    background-color: #e62739;
    border-radius: 0px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
    color: white !important;
    font-size: 15px !important;
    font-family: leela;
}

.browse-more-button:hover {
    background-color: #c71829;
    color: white !important;
}

.testimonial-structure-1 {
    border: 1px solid #dbdbdb;
    background-color: #b0b7ff;
    padding-top: 70px;
    padding-bottom: 88px;
}

.testimonial-structure-2 {
    border: 1px solid #dbdbdb;
    background-color: #ffeaab;
    padding-top: 70px;
    padding-bottom: 70px;
}

.testimonial-structure-3 {
    border: 1px solid #dbdbdb;
    background-color: #ffb8c0;
    padding-top: 70px;
    padding-bottom: 88px;
}

.testimonial-image-structure {
    border: 10px solid #ffffff;
}

.testimonial-side-space {
    padding: 0 60px;
}

.testimonial-arrow-structure {
    background-image: none !important;
    width: 60px !important;
}

.testimonial-arrow-image {
    top: 50%;
    left: 50%;
    position: absolute;
}

.testimonial-text {
    padding-top: 60px;
    font-family: 'leela';
    font-size: 13px;
    color: #797979 !important;
    padding-left: 20px;
    padding-right: 20px;
}

.testimonial-text:before{
    content: '';
    background: url('../images/home/icons/home icons.png') no-repeat -158px 0;
    width: 32px;
    height: 20px;
    position: absolute;
    margin-top: -17px;
    left: 22px;
}

.testimonial-text:after{
    content: '';
    background: url('../images/home/icons/home icons.png') no-repeat -240px 0;
    width: 32px;
    height: 20px;
    position: absolute;
    margin-top: 6px;
    right: 16px;
}

/*Sprite for featured products arrows*/
.left-arrow {
	background: url('../images/home/icons/home icons.png') no-repeat -323px -1px; 
    width: 48px; 
    height: 23px;
}

.right-arrow {
	background: url('../images/home/icons/home icons.png') no-repeat -451px -1px; 
    width: 48px; 
    height: 23px;
}

.left-arrow:hover {
	background: url('../images/home/icons/home icons.png') no-repeat -387px -1px; 
    width: 48px; 
    height: 23px;
}

.right-arrow:hover {
	background: url('../images/home/icons/home icons.png') no-repeat -515px -1px; 
    width: 48px; 
    height: 23px;
}
/*END of featured products sprite*/

/*Sprite for follow us on icons*/
.twitter {
	background: url('../images/home/social media/social media.png') no-repeat 0 0;
	width: 81px;
	height: 81px;
}

.facebook {
	background: url('../images/home/social media/social media.png') no-repeat -186px 0;
	width: 82px;
	height: 81px;
}

.pinterest {
	background: url('../images/home/social media/social media.png') no-repeat -368px 0;
	width: 82px;
	height: 81px;
}

.insta {
	background: url('../images/home/social media/social media.png') no-repeat -552px 0;
	width: 82px;
	height: 81px;
}

.googleplus {
	background: url('../images/home/social media/social media.png') no-repeat -734px 0;
	width: 82px;
	height: 81px;
}

.linkedin {
	background: url('../images/home/social media/social media.png') no-repeat -935px 0;
	width: 81px;
	height: 81px;
}
/*END of follow us on sprite*/

.media-background-colour {
    background-color: #f2f0f1;
}

.media-ul {
    display: inline-flex;
    width: 100%;
}

.media-li {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
}

.media-li:first-child {
    float: left;
}

.media-li:last-child {
    float: left;
    background: none !important;
}

.media-li:last-child:after {
    float: left;
    background: none !important;
}

.media-li:after {
    position: absolute;
    content: '';
    width: 1px;
    top: 5px;
    bottom: 0;
    right: 0;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d3d1d2', endColorstr='#d3d1d2', GradientType=0);
    background: linear-gradient(rgba(128, 128, 128, 0), #d3d1d2, rgba(128, 128, 128, 0))
}

.trusted-jewellers{
    background: url('../images/home/our commitment/our commitment.png') no-repeat 0 0;
	width: 106px;
	height: 106px;
    left: 90px;
    position: relative;
}

.trusted-jewellers:hover{
    background: url('../images/home/our commitment/our commitment.png') no-repeat -146px 0;
	width: 106px;
	height: 106px;
}

.commitment-certified{
    background: url('../images/home/our commitment/our commitment.png') no-repeat -292px 0;
	width: 106px;
	height: 106px;
    left: 90px;
    position: relative;
}

.commitment-certified:hover{
    background: url('../images/home/our commitment/our commitment.png') no-repeat -438px 0;
	width: 106px;
	height: 106px;
}

.commitment-free-shipping{
    background: url('../images/home/our commitment/our commitment.png') no-repeat -584px 0;
	width: 106px;
	height: 106px;
    left: 90px;
    position: relative;
}

.commitment-free-shipping:hover{
    background: url('../images/home/our commitment/our commitment.png') no-repeat -730px 0;
	width: 106px;
	height: 106px;
}

.commitment-easy-return{
    background: url('../images/home/our commitment/our commitment.png') no-repeat -876px 0;
	width: 106px;
	height: 106px;
    left: 90px;
    position: relative;
}

.commitment-easy-return:hover{
    background: url('../images/home/our commitment/our commitment.png') no-repeat -1022px 0;
	width: 106px;
	height: 106px;
}

.our-commitment-text {
    padding-top: 10px;
    font-weight: bold;
    color: #797979 !important;
}

.our-commitment-structure {
    padding: 20px 15px 0px 15px;
}

.custom-dialog-size {
    margin-top: 13% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 1000px !important;
}

.at-modal-content {
    position: relative;
    outline: 0;
    -webkit-box-shadow: 0px 0px 24px -1px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 0px 24px -1px rgba(0, 0, 0, 1);
    box-shadow: 0px 0px 24px -1px rgba(0, 0, 0, 1);
}

.at-modal-background {
    background-color: #8A8A8A;
    height: 393px;
    overflow: hidden;
}

.modal-heading-top-space {
    padding-top: 15px;
    text-align: center;
}

.modal-form-heading {
    font-family: 'leela';
    font-size: 20px;
    color: #ffffff !important;
}

.at-fields-sidespace {
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.at-fields {
    border: none;
    border-bottom: 1px solid #B4B4B4;
    outline: none;
    padding-bottom: 3px;
    color: #ffffff;
    background-color: #8A8A8A;
    width: 100%;
    font-family: 'leela';
    font-size: 12px;
}

.at-validation-message {
    font-family: 'leela';
    font-size: 12px;
    text-align: left;
    color: #E62739 !important;
}

.subscript-style {
    font-size: 14px;
    font-family: 'leela';
    color: #ffffff !important;
    top: 2px;
}

.terms-text {
    color: #ffffff !important;
    font-family: 'leela';
    font-size: 10px;
}

.have-text {
    font-family: 'leela';
    font-size: 15px;
    color: #ffffff !important;
}

.modal-login-link {
    font-family: 'leela';
    font-size: 15px;
    color: #E62739 !important;
}

.modal-submit-button {
    background: #E62739;
    border-radius: 0px !important;
    color: white !important;
    font-size: 18px !important;
    font-family: 'leela';
    text-transform: uppercase;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    padding-left: 40px;
    padding-right: 40px;
    border: none;
    width: 80%;
}
/*END of index css*/

.wishlist {
    padding-top: 250px;
    padding-left: 20px;
}

.cart {
    padding-top: 250px;
    padding-left: 20px;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    text-decoration: none;
}

.clear {
    clear: both;
}

nav.vertical ul li {
    display: block;
}

nav.horizontal ul li {
    display: inline-block;
}

img {
    max-width: 100%;
}

body {
    overflow-x: hidden;
}

.wrap {
    width: 80%;
    margin: 0 auto;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    -ms-transition: all .2s linear;
}

.inner_content1 {
    position: relative;
}

.megapanel {
    left: 0px !important;
}


.btn {
    position: relative;
    text-align: center;
}

.btn a {
    border: none;
    color: #FFF;
    cursor: pointer;
    padding: 12px 20px;
    display: inline-block;
    font-size: 1em;
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    background: #4CB1CA;
    position: absolute;
    top: -90px;
    left: 52px;
}

.btn a:hover {
    background: #39a0b9;
}

.dropdown,
.dropdown div,
.dropdown li,
.dropdown div::after,
.dropdown .carat,
.dropdown .carat:after,
.dropdown .selected::after,
.dropdown:after {
    -webkit-transition: all 150ms ease-in-out;
    -moz-transition: all 150ms ease-in-out;
    -ms-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

.dropdown .selected::after,
.dropdown.scrollable div::after {
    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    -ms-pointer-events: none;
    pointer-events: none;
}

.dropdown {
    position: relative;
    width: 120px;
    cursor: pointer;
    font-weight: 200;
    background: none;
    padding: 8px 0px 8px;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.dropdown.open {
    z-index: 2;
}

.dropdown:hover,
.dropdown.focus {}

.dropdown .carat,
.dropdown .carat:after {
    position: absolute;
    right: 14px;
    top: 50%;
    margin-top: -3px;
    border: 6px solid transparent;
    border-top: 6px solid #fff;
    z-index: 1;
    -webkit-transform-origin: 50% 20%;
    -moz-transform-origin: 50% 20%;
    -ms-transform-origin: 50% 20%;
    transform-origin: 50% 20%;
}

.dropdown:hover .carat:after {
    border-top-color: #f4f4f4;
}

.dropdown.focus .carat {
    border-top-color: #f8f8f8;
}

.dropdown.focus .carat:after {
    border-top-color: #0180d1;
}

.dropdown.open .carat {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.dropdown .old {
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 0;
    overflow: hidden;
}

.dropdown select {
    position: absolute;
    left: 0px;
    top: 0px;
}

.dropdown.touch select {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.dropdown .selected,
.dropdown li {
    display: block;
    font-size: 0.85em;
    overflow: hidden;
    white-space: nowrap;
}

.dropdown .selected::after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 60px;
}

.dropdown:hover .selected::after,
.dropdown.focus .selected::after {}

.dropdown div {
    position: absolute;
    height: 0;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 1px;
    background: #4CB1CA;
    overflow: hidden;
    opacity: 0;
    color: #C0F3FF;
}

.dropdown:hover div {
    background: #4CB1CA;
}

.dropdown.open div {
    opacity: 1;
    z-index: 2;
}

.dropdown.scrollable div::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
}

.dropdown.scrollable:hover div::after {}

.dropdown.scrollable.bottom div::after {
    opacity: 0;
}

.dropdown ul {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    list-style: none;
    overflow: hidden;
}

.dropdown.scrollable.open ul {
    overflow-y: auto;
}

.dropdown li {
    list-style: none;
    padding: 8px;
    border-bottom: 1px solid #39A0B9;
}

.dropdown li:last-child {
    border-bottom: 0;
}

.dropdown li.focus {
    background: #39A0B9;
    position: relative;
    z-index: 3;
    color: #fff;
}

.dropdown li.active {
    background: #39A0B9;
    color: #fff;
}

.page-not-found {
    padding: 4% 0;
    text-align: center;
}

.page-not-found h1 {
    font-size: 15em;
    color: #F0F0F0;
    text-align: center;
    text-shadow: 1px 1px 6px #AAA;
    -moz-text-shadow: 1px 1px 6px #aaa;
    -webkit-text-shadow: 1px 1px 6px #aaa;
    -o-text-shadow: 1px 1px 6px #aaa;
}

/* Author: PR */
.affiliate { margin-top: 25px; }
.affiliate img { display: inline-block; margin: auto; }
.affiliate div.row:last-of-type { background: gray; padding: 10px 0; }
.temp_faq:after { background: none !important; }

.m-t-15 { margin-top: 15px !important; }

/* Heading with Border After Text: Usable with Span */
p { font-size: 14px; line-height: 19px; color: #787878; margin-top: 10px; font-family: leela !important; }

h1, h2, h3, h4, .hr { color: #787878 !important; font-weight: bolder !important; }
h2, h3, h4 { margin: 10px 0 !important; text-transform: uppercase; }
h1 { font-size: 25px; }
h2 { font-family: raleway !important; font-size: 28px; }
h3 { font-size: 16px !important; }
h4 { font-size: 18px; }

.hr { font-weight: bolder; position: relative; }
.hr span { background: white; padding-right: 20px; }
.hr:after { 
    content: " "; 
    position: absolute; 
    top: 50%; 
    left: 0; 
    right: 0; 
    z-index: -1;
    height: 1px;
    background: #f1f1f1;
    background-image: linear-gradient(to right, #ccc, #fff);
    background-image: -o-linear-gradient(right, #ccc, #fff);
    background-image: -moz-linear-gradient(right, #ccc, #fff);
    background-image: -webkit-linear-gradient(left, #ccc, #fff);
    
}

p, .list_based_on_fa li { font-size: 14px; line-height: 19px; color: #787878 !important; }

address { margin: 0 !important; }

a { text-decoration: none; color: #000 !important; }
a:hover { font-weight: bold; }
a:hover, a:focus { text-decoration: none !important; }

.list_based_on_fa li i { margin-right: 5px; }

/* Page: Partner Locate */
.partner_locate { 
    background: #f1f1f1;
    color: #787878 !important;
    height: 370px;
    overflow: auto;
    padding: 30px 0 !important;
}
.partner_locate_search_form {
    background: white; 
    padding: 5px; 
    border-radius: 15px; 
    -webkit-border-radius: 15px; 
    -moz-border-radius: 15px; 
    color: #ccc;
}
.partner_locate_search_form input, .partner_locate_search_form button { 
    padding: 5px; 
    border: none; 
    background: white;
}
.partner_locate_search_form input[type="search"] { 
    width: 82%; 
    border-left: 1px solid; 
    border-right: 1px solid; 
    padding: 5px 10px;
}
.partner_locate_search_form span { padding: 10px; font-size: 20px; }

.partner_loc { padding: 10px 30px 10px; }
.partner_loc:hover { background: white; }
.user_input_form { position: relative; }
.user_input_form .btn_submit { 
    padding: 2px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    float: right;
    border: 1px solid #ccc;
    display: none;
}
.user_input_form input[type="text"] {
    padding: 5px;
    width: 100%;
    background: #f1f1f1;
    border: 1px solid #ccc;
}
.form_label { 
    padding: 5px;
    box-shadow: 0 3px 5px #ccc;
    -webkit-box-shadow: 0 3px 5px #ccc;
    -moz-box-shadow: 0 3px 5px #ccc;
    background: white;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border: 1px solid #ccc;
    overflow: auto;
    font-weight: bold;
}
.form_label span { line-height: 26px; padding-left: 10px; }
.get_user_data {
    box-shadow: 0 3px 5px #ccc;
    -webkit-box-shadow: 0 3px 5px #ccc;
    -moz-box-shadow: 0 3px 5px #ccc;
    padding: 7px;
    background: white;
    width: 225px;
    margin: 2px auto;
    display: none;
}

.default_form { padding: 0 10px; }
.default_form input { 
    border: none;
    background: #f1f1f1;
    box-shadow: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    padding: 10px;
    width: 100%;
}

/* Partner Locator Dialogue */
.p_loc_dialogue {
    width: 550px;
    margin: 0 auto;
    padding: 15px;
    box-shadow: 0px 0px 12px #787878;
    -webkit-box-shadow: 0px 0px 12px #787878;
    -moz-box-shadow: 0px 0px 12px #787878;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    z-index: 500 !important;
    background: white;
    display: none;
}
.map_marker_icon {
    margin: 0 auto;
    font-size: 35px;
    padding: 10px 23px;
    border-radius: 50%;
    box-shadow: -1px 3px 5px #999;
    width: 65px;
    height: 65px;
    display: block;
    background: #f1f1f1;
    color: #e62739;
}
.p_loc_text { position: relative; }
.p_loc_text:hover { color: #787878 !important; }
.p_loc_caret {
    position: absolute;
    top: 6px;
    margin: auto;
    left: 0;
    right: 0;
    color: #383838 !important;
    z-index: 1000;
    font-size: 30px;
    text-align: center;
    display: none;
}
.p_loc_dialogue .close_p_loc {
    font-size: 35px;
    color: #e62739;
    position: absolute;
    right: 25px;
    top: 18px;
    cursor: pointer;
}

.gradient_black_white_corner {
    padding: 2px;
    background: rgba(204,204,204,1);
    background: -moz-linear-gradient(45deg, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 57%, rgba(255,255,255,1) 91%, rgba(204,204,204,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(204,204,204,1)), color-stop(10%, rgba(255,255,255,1)), color-stop(57%, rgba(255,255,255,1)), color-stop(91%, rgba(255,255,255,1)), color-stop(100%, rgba(204,204,204,1)));
    background: -webkit-linear-gradient(45deg, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 57%, rgba(255,255,255,1) 91%, rgba(204,204,204,1) 100%);
    background: -o-linear-gradient(45deg, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 57%, rgba(255,255,255,1) 91%, rgba(204,204,204,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 57%, rgba(255,255,255,1) 91%, rgba(204,204,204,1) 100%);
    background: linear-gradient(45deg, rgba(204,204,204,1) 0%, rgba(255,255,255,1) 10%, rgba(255,255,255,1) 57%, rgba(255,255,255,1) 91%, rgba(204,204,204,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cccccc', endColorstr='#cccccc', GradientType=1 );
}

.overlay_transparent { width: 100%; height: 100%; position: fixed; top: 0; left: 0; right: 0; bottom: 0; /* background: rgba(0, 0, 0, 0.5); */ display: none; }

/* Author: PR Codes Ends Here */

@media (max-width:1366px) {
    .wrap {
        width: 90%;
    }
    #products .pagination li a {
        width: 96px;
    }
}

@media (max-width:1280px) {
    .wrap {
        width: 90%;
    }
}

@media screen and (max-width: 1200px){
    /* Author: PR */
    .partner_locate_search_form input[type="search"] { width: 76%; }
    .form_label span { font-size: 12px; line-height: 25px; }
    .user_input_form .btn_submit { font-size: 12px; }
    .get_user_data { width: 185px; }
    .partner_loc { padding: 10px 15px 10px; }
    
    /* Author: PR Codes End Here */
}

@media (max-width:1024px) {
    .wrap {
        width: 90%;
    }
    #products .pagination li a {
        width: 89px;
    }
    .megamenu>li>a {
        padding: 8px 5px;
    }
    .btn a {
        left: 19px;
        padding: 10px 15px;
    }
}

@media (max-width:800px) {
    .wrap {
        width: 90%;
    }
    #products .pagination li a {
        width: 89px;
    }
    .megamenu>li>a {
        padding: 8px 5px;
    }
    .btn a {
        left: 12px;
        padding: 6px 8px;
        top: -75px;
        font-size: 0.85em;
    }
}

@media (max-width:768px) {
    .wrap {
        width: 97%;
    }
    #products .pagination li a {
        width: 89px;
    }
}

@media (max-width:640px) {
    #products .pagination li a {
        width: 89px;
    }
    .megamenu>li>a {
        padding: 8px 5px;
    }
}

@media (max-width:480px) {
    #products .pagination li a {
        width: 89px;
    }
    .btn a {
        left: 12px;
        padding: 6px 8px;
        top: -75px;
        font-size: 0.85em;
    }
}

@media (max-width:320px) {
    #products .pagination li a {
        width: 89px;
    }
    .megamenu>li>a {
        padding: 8px 5px;
    }
    .btn a {
        left: 12px;
        padding: 6px 8px;
        top: -75px;
        font-size: 0.85em;
    }
    span.reducedfrom {
        margin-right: 2%;
    }
    .cont {
        float: none;
    }
    .dropdown {
        width: 90px;
    }
}