<vivo-header></vivo-header>

<div class="hidden-sm visible-xs hidden-md">
<div data-ng-hide="!isauthenticated || isLoaded">
 <div class="margin-top-60px text-center">
  <div class="row text-center home-panel-row">
   <div class="well margin-top-40px">Please wait...</div>
  </div>
 </div>
</div>

<div class="well margin-top-80px" data-ng-show="!authenticated">
 <h4 class="title">
           Not Logged In
 </h4>
 <p class="normal-text margin-bottom-20px">Kindly <a href="#login/0" class="underline vivocarat-theme-colour bold-font">login</a> to see your account.
 </p>
</div>
</div>

<div class="visible-sm visible-md hidden-xs">
<div data-ng-hide="!isauthenticated || isLoaded">
 <div class="margin-top-60px text-center">
  <div class="row text-center home-panel-row">
   <div class="well margin-top-40px">Please wait...</div>
  </div>
 </div>
</div>

<div class="well margin-top-80px" data-ng-show="!authenticated">
 <h4 class="title">
           Not Logged In
 </h4>
 <p class="normal-text margin-bottom-20px">Kindly <a href="#login/0" class="underline vivocarat-theme-colour bold-font">login</a> to see your account.
 </p>
</div>
</div>


<div data-ng-show="isauthenticated || isLoaded" class="hidden-sm visible-xs hidden-md margin-top-80px">
  
    <p class="my-account-text">My Account</p>
    
    <div class="col-xs-12 no-pad">
        <div class="row">
            <div class="credfont col-xs-4">Name</div>
            <div class="col-xs-1 no-pad credfont">:</div>
            <div class="col-xs-7 credsfont no-pad">{{ad[0].name}}</div>
        </div>
        
        <div class="row">
            <div class="col-xs-4 credfont">Email</div>
            <div class="col-xs-1 no-pad credfont">:</div>
            <div class="col-xs-7 credsfont no-pad">{{ad[0].email}}</div>
        </div>
        
        <div class="row">
            <div class="col-xs-4 credfont">Phone</div>
            <div class="col-xs-1 no-pad credfont">:</div>
            <div class="col-xs-7 credsfont no-pad">{{ad[0].phone}}</div>
        </div>
        
        <div class="row">
            <div class="col-xs-4 credfont">Address</div>
            <div class="col-xs-1 no-pad credfont">:</div>
            <div class="col-xs-7 credsfont no-pad">{{ad[0].first_line}} {{ad[0].city}} {{ad[0].state}} {{ad[0].pin}} {{ad[0].country}}</div>
        </div>
        
        <div class="row text-center margin-top-30px padding-bottom-20px">
            <a href="#i/editaccount" class="btn edit-button">
                Edit
            </a>
        </div>
        
    </div>
</div>

<div data-ng-show="isauthenticated || isLoaded" class="hidden-xs visible-sm visible-md margin-top-60px">
    <br>
    <p class="my-account-text">My Account</p>
    
    <div class="col-xs-12 padding-top-20px">
        
        <div class="row">
            <div class="credfont-sm col-xs-4">Name</div>
            <div class="col-sm-1 credfont-sm">:</div>
            <div class="col-sm-7 credsfont-sm no-pad">{{ad[0].name}}</div>
        </div>
        
        <div class="row">
            <div class="col-sm-4 credfont-sm">Email</div>
            <div class="col-sm-1 credfont-sm">:</div>
            <div class="col-sm-7 credsfont-sm no-pad">{{ad[0].email}}</div>
        </div>
        
        <div class="row">
            <div class="col-sm-4 credfont-sm">Phone</div>
            <div class="col-sm-1 credfont-sm">:</div>
            <div class="col-sm-7 credsfont-sm no-pad">{{ad[0].phone}}</div>
        </div>
        
        <div class="row">
            <div class="col-sm-4 credfont">Address</div>
            <div class="col-sm-1 no-pad credfont">:</div>
            <div class="col-sm-7 credsfont-sm no-pad">{{ad[0].first_line}} {{ad[0].city}} {{ad[0].state}} {{ad[0].pin}} {{ad[0].country}}</div>
        </div>
        
        <div class="row text-center margin-top-30px padding-bottom-60px">
            <a href="#i/editaccount" class="btn edit-button"> 
                Edit 
            </a>
        </div>
    </div>
</div>

<vivo-footer></vivo-footer>