<vivo-header></vivo-header>

<div class="container mob-top-pad padding-bottom-60px">

    <div class="row">
        <div class="col-sm-4 col-xs-7 vivocarat-heading no-padding-left">AFFILATE PARTNERS</div>

        <div class="col-sm-8 col-xs-5 categoryGrad">

        </div>
    </div>

    <section class="affiliate">
        <div class="row padding-bottom-20px">
            <div class="col-sm-4 col-xs-4">
                <a href="https://www.coupondunia.in">
                    <img src="images/affiliate/coupon-dunia-logo.png" alt="Coupon Dunia Logo">
                </a>
            </div>

            <div class="col-sm-4 col-xs-4">
                <a href="https://www.couponraja.in">
                    <img src="images/affiliate/coupon-raja-logo.png" alt="Coupon Raja Logo">
                </a>
            </div>

            <div class="col-sm-4 col-xs-4">
                <a href="http://www.couponrani.com">
                    <img src="images/affiliate/coupon-rani-logo.png" alt="Coupon Rani Logo">
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-xs-4">
                <a href="http://www.couponzguru.com">
                    <img src="images/affiliate/couponz-guru-logo.png" alt="Couponz Guru Logo">
                </a>
            </div>

            <div class="col-sm-4 col-xs-4">
                <a href="https://discountcoupon9.in">
                    <img src="images/affiliate/discount-coupon-9-logo.png" alt="Discount Coupon 9 Logo">
                </a>
            </div>

            <div class="col-sm-4 col-xs-4">
                <a href="https://fabpromocodes.in">
                    <img src="images/affiliate/fab-promo-codes-logo.png" alt="Fab Promo codes Logo">
                </a>
            </div>
        </div>
    </section>
    <!--  
<div class="row visible-xs hidden-sm hidden-md padding-bottom-10px">
 <div class="col-xs-6">
  <a href="https://www.coupondunia.in">
   <img src="images/affiliate/coupondunia.png" alt="Coupon Dunia">
  </a> 
 </div>
    
 <div class="col-xs-6">
  <a href="https://www.couponraja.in">
   <img src="images/affiliate/couponraja.png" alt="Coupon Raja"> 
  </a>   
 </div>
</div>
    
<div class="row visible-xs hidden-sm hidden-md padding-bottom-10px">
 <div class="col-xs-6">
  <a href="http://www.couponrani.com">
   <img src="images/affiliate/couponrani.png" alt="Coupon Rani">
  </a> 
 </div>
    
 <div class="col-xs-6">
  <a href="http://www.couponzguru.com">
   <img src="images/affiliate/couponzguru.png" alt="Couponz Guru">
  </a>   
 </div>
</div>
    
<div class="row visible-xs hidden-sm hidden-md">
 <div class="col-xs-6">
  <a href="https://discountcoupon9.in">
   <img src="images/affiliate/discountcoupon9.png" alt="Discount Coupon 9"> 
  </a> 
 </div>
    
 <div class="col-xs-6">
  <a href="https://fabpromocodes.in">
   <img src="images/affiliate/fabpromocodes.png" alt="Fab Promocodes">
  </a>   
 </div>
</div>

    
<div class="row visible-sm visible-md hidden-xs padding-bottom-20px">
 <div class="col-sm-4">
  <a href="https://www.coupondunia.in">
   <img src="images/affiliate/coupondunia.png" alt="Coupon Dunia">
  </a>  
 </div>
    
 <div class="col-sm-4">
  <a href="https://www.couponraja.in">
   <img src="images/affiliate/couponraja.png" alt="Coupon Raja"> 
  </a>  
 </div>
    
 <div class="col-sm-4">
  <a href="http://www.couponrani.com">
   <img src="images/affiliate/couponrani.png" alt="Coupon Rani">
  </a> 
 </div>
</div>
    
<div class="row visible-sm visible-md hidden-xs">
 <div class="col-sm-4">
  <a href="http://www.couponzguru.com">
   <img src="images/affiliate/couponzguru.png" alt="Couponz Guru">
  </a> 
 </div>
    
 <div class="col-sm-4">
  <a href="https://discountcoupon9.in">
   <img src="images/affiliate/discountcoupon9.png" alt="Discount Coupon 9"> 
  </a>  
 </div>
    
 <div class="col-sm-4">
  <a href="https://fabpromocodes.in">
   <img src="images/affiliate/fabpromocodes.png" alt="Fab Promocodes">
  </a>   
 </div>
</div>
-->
</div>

<vivo-footer></vivo-footer>