<vivo-header></vivo-header>
<div class="mob-top-pad visible-xs hidden-sm hidden-md width-100-percent">
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#Lagu Bandhu">
      <img src="images/mobile/brands/banners/lagu bandhu banner.jpg" class="img-responsive width-100-percent" alt="lagu bandhu">
     </a>
    </div>
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#Mayura Jewellers">
      <img src="images/mobile/brands/banners/mayura jewellers banner.jpg" class="img-responsive width-100-percent" alt="mayura jewellers">
     </a>
    </div>
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#Charu-Jewels">
      <img src="images/mobile/brands/banners/charu banner.jpg" class="img-responsive width-100-percent" alt="charu jewels">
     </a>
    </div>
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#Megha Jewellers">
      <img src="images/mobile/brands/banners/megha jewellers banner.jpg" class="img-responsive width-100-percent" alt="megha jewellers">
     </a>
    </div>
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#Kundan Jewellers">
      <img src="images/mobile/brands/banners/kundan jewellers banner.jpg" class="img-responsive width-100-percent" alt="kundan jewellers">
     </a>
    </div>
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#Shankaram Jewellers">
      <img src="images/mobile/brands/banners/shankaram jewellers banner.jpg" class="img-responsive width-100-percent" alt="shankaram jewellers">
     </a>
    </div>
    
<!--
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#Mani Jewellers">
      <img src="images/mobile/brands/banners/mani jewellers banner.jpg" class="img-responsive width-100-percent" alt="mani jewellers">
     </a>
    </div>
-->
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#Arkina-Diamonds">
      <img src="images/mobile/brands/banners/arkina diamonds banner.jpg" class="img-responsive width-100-percent" alt="arkina diamonds">
     </a>
    </div>
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#OrnoMart">
      <img src="images/mobile/brands/banners/ornoMart banner.jpg" class="img-responsive width-100-percent" alt="ornoMart">
     </a>
    </div>
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#Glitter Jewels">
      <img src="images/mobile/brands/banners/glitter jewels banner.jpg" class="img-responsive width-100-percent" alt="glitter jewels">
     </a>
    </div>
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#KaratCraft">
      <img src="images/mobile/brands/banners/karatCraft banner.jpg" class="img-responsive width-100-percent" alt="karatCraft">
     </a>
    </div>
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#ZKD-Jewels">
      <img src="images/mobile/brands/banners/zkd jewels banner.jpg" class="img-responsive width-100-percent" alt="zkd jewels">
     </a>
    </div>
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#Incocu Jewellers">
      <img src="images/mobile/brands/banners/incocu jewellers banner.jpg" class="img-responsive width-100-percent" alt="incocu jewellers">
     </a>
    </div>
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#Regaalia Jewels">
      <img src="images/mobile/brands/banners/regaalia jewels banner.jpg" class="img-responsive width-100-percent" alt="regaalia jewels">
     </a>
    </div>
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#IskiUski">
      <img src="images/mobile/brands/banners/iski uski banner.jpg" class="img-responsive width-100-percent" alt="iski uski">
     </a>
    </div>
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#Myrah-Silver-Works">
      <img src="images/mobile/brands/banners/myrah banner.jpg" class="img-responsive width-100-percent" alt="Myrah-Silver-Works">
     </a>
    </div>
    
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#PP-Gold">
      <img src="images/mobile/brands/banners/pp-gold.jpg" class="img-responsive width-100-percent" alt="pp-gold">
     </a>
    </div>
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#Tsara-Jewellery">
      <img src="images/mobile/brands/banners/tsara jeweller.jpg" class="img-responsive">
     </a>
    </div>
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#Sarvada-Jewels">
      <img src="images/mobile/brands/banners/sarvada jeweller.jpg" class="img-responsive">
     </a>
    </div>
</div>

<div class="mob-top-pad visible-sm hidden-xs visible-md width-100-percent">
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#Mayura Jewellers">
      <img src="images/mobile/brands/banners/lagu bandhu banner.jpg" class="img-responsive width-100-percent" alt="lagu bandhu">
     </a>
    </div>
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#Megha Jewellers">
      <img src="images/mobile/brands/banners/mayura jewellers banner.jpg" class="img-responsive width-100-percent" alt="mayura jewellers">
     </a>
    </div> 
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#Charu-Jewels">
      <img src="images/mobile/brands/banners/charu banner.jpg" class="img-responsive width-100-percent" alt="Charu-Jewels">
     </a>
    </div>
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#Kundan Jewellers">
      <img src="images/mobile/brands/banners/kundan jewellers banner.jpg" class="img-responsive width-100-percent" alt="Kundan Jewellers">
     </a>
    </div>
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#Shankaram Jewellers">
      <img src="images/mobile/brands/banners/shankaram jewellers banner.jpg" class="img-responsive width-100-percent" alt="shankaram jewellers">
     </a>
    </div>
    
<!--
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#Mani Jewellers">
      <img src="images/mobile/brands/banners/mani jewellers banner.jpg" class="img-responsive width-100-percent" alt="mani jewellers">
     </a>
    </div>
-->
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#Arkina-Diamonds">
      <img src="images/mobile/brands/banners/arkina diamonds banner.jpg" class="img-responsive width-100-percent" alt="arkina diamonds">
     </a>
    </div>
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#OrnoMart">
      <img src="images/mobile/brands/banners/ornoMart banner.jpg" class="img-responsive width-100-percent" alt="ornoMart">
     </a>
    </div>
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#Glitter Jewels">
      <img src="images/mobile/brands/banners/glitter jewels banner.jpg" class="img-responsive width-100-percent" alt="glitter jewels">
     </a>
    </div>
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#KaratCraft">
      <img src="images/mobile/brands/banners/karatCraft banner.jpg" class="img-responsive width-100-percent" alt="karatCraft">
     </a>
    </div>
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#ZKD-Jewels">
      <img src="images/mobile/brands/banners/zkd jewels banner.jpg" class="img-responsive width-100-percent" alt="zkd jewels">
     </a>
    </div>   
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#Incocu Jewellers">
      <img src="images/mobile/brands/banners/incocu jewellers banner.jpg" class="img-responsive width-100-percent" alt="incocu jewellers">
     </a>
    </div>
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#Regaalia Jewels">
      <img src="images/mobile/brands/banners/regaalia jewels banner.jpg" class="img-responsive width-100-percent" alt="regaalia jewels">
     </a>
    </div>
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#PP-Gold">
      <img src="images/mobile/brands/banners/pp-gold.jpg" class="img-responsive width-100-percent" alt="pp-gold">
     </a>
    </div>
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#IskiUski">
      <img src="images/mobile/brands/banners/iski uski banner.jpg" class="img-responsive width-100-percent" alt="iski uski">
     </a>
    </div>
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#Myrah-Silver-Works">
      <img src="images/mobile/brands/banners/myrah banner.jpg" class="img-responsive width-100-percent" alt="Myrah-Silver-Works">
     </a>
    </div>
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#Tsara-Jewellery">
      <img src="images/mobile/brands/banners/tsara jeweller.jpg" class="img-responsive">
     </a>
    </div>
    
    <div class="col-xs-12 no-pad margin-bottom-10px">
     <a href="#Sarvada-Jewels">
      <img src="images/mobile/brands/banners/sarvada jeweller.jpg" class="img-responsive">
     </a>
    </div>

</div>

<vivo-footer></vivo-footer>