<style>
.active {
        border-bottom: 2px solid #E62739;
        background-color: #eee !important;
        color: #E62739 !important;
    }
</style>

<vivo-header></vivo-header>

<div class="row text-center mob-top-pad visible-xs hidden-md hidden-sm">
 <div class="col-xs-12 steps-side-space margin-top-20px">
  <img data-ng-src="images/mobile/checkout/steps/{{stepNo}}_1.png" style="margin-bottom: -18px;" alt="checkout step">
 </div>
</div>

<div class="row text-center mob-top-pad visible-sm visible-md hidden-xs">
 <div class="col-sm-12 steps-side-space-sm margin-top-50px">
  <img data-ng-src="images/mobile/checkout/steps/{{stepNo}}_1.png" class="width-100-percent" style="margin-bottom: -18px;" alt="checkout step">
 </div>
</div>


<div class="container">


<div data-ng-show="cart==null || cart.length<1" class="margin-top-50px padding-bottom-60px">
    <div class="col-sm-12 vivo-panel">
     <h4 class="text-center normal-text">Your shopping cart is empty!</h4>

     <p class="continue-shopping-text">
         <a href="#i/home" class="vivocarat-theme-colour underline">
             Continue shopping
         </a>
     </p>
    </div>
</div>


<div class="row" data-ng-show="cart!=null && cart.length>0">

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<div class="panel panel-default">
<div class="panel-heading padding-top-20px" role="tab" id="headingOne">

 <h4 class="panel-title visible-xs hidden-md hidden-sm">
  <center>
   <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne" class="tab-heading-text">
       MY CART
   </a>
  </center>
 </h4>

 <h4 class="panel-title visible-sm visible-md hidden-xs">
  <center>
   <a role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne" class="tab-heading-text-sm">
       MY CART
   </a>
  </center>
 </h4>

</div>

<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
<div class="panel-body">

<div data-ng-repeat="c in cart track by $index">

<div class="row">
 <div class="col-xs-12 no-pad">

  <div class="row pull-right visible-xs hidden-md hidden-sm">
   <div class="col-xs-12 pad-left-right">
    <a data-ng-click="removeFromCart($index)">
    <div class="remove-link">
     <img src="images/mobile/checkout/icons/remove.png" class="remove-icon-structure" alt="remove">Remove
    </div>
   </a>
   </div>
  </div>

  <div class="row visible-xs hidden-md hidden-sm">
   <div class="col-xs-12 no-pad">
    <a data-ng-href="#p/{{c.item.id}}" class="product-title">
        {{c.item.title}}
    </a>
   </div>
  </div>

  <div class="row pull-right visible-sm visible-md hidden-xs">
   <div class="col-xs-12 pad-left-right">
    <a data-ng-click="removeFromCart($index)">
    <div class="remove-link-sm">
     <img src="images/mobile/checkout/icons/remove.png" class="remove-icon-structure" alt="remove">Remove
    </div>
   </a>
   </div>
  </div>

  <div class="row visible-sm visible-md hidden-xs">
   <div class="col-xs-12 no-pad">
    <a data-ng-href="#p/{{c.item.id}}" class="product-title-sm">
        {{c.item.title}}
    </a>
   </div>
  </div>


<div class="row visible-xs hidden-md hidden-sm margin-top-20px">
 <div class="col-xs-6 no-pad">
  <div class="row">
   <div class="col-xs-6 no-pad">
    <img data-ng-src="images/products-v2/{{c.item.VC_SKU}}-1.jpg" class="img-responsive product-image-border" alt="{{c.item.VC_SKU}}">
   </div>

   <div class="col-xs-6 quantity-structure">
    <a class="btn subtract-quantity-button" data-ng-click="subQuantity(c,$index)">
        -
    </a>

    <h class="normal-text">{{c.quantity}}</h>

    <a data-ng-click="addQuantity(c,$index)" class="btn add-quantity-button">
        +
    </a>

    <div data-ng-show="c.item.ring_size != null && c.item.ring_size != ''" class="row">
      <div class="grey-colour">
       Size : {{c.item.ring_size}}
      </div>
     </div>

    <div data-ng-show="c.item.bangle_size != null && c.item.bangle_size != ''" class="row">
      <div class="grey-colour">
       Size : {{c.item.bangle_size}}
      </div>
     </div>

    <div data-ng-show="c.item.bracelet_size != null && c.item.bracelet_size != ''" class="row">
      <div class="grey-colour">
       Size : {{c.item.bracelet_size}}
      </div>
     </div>

   </div>
  </div>
 </div>

 <div class="col-xs-6 no-pad">
  <div class="row">
   <div class="col-xs-6 no-pad">
    <p class="leftfont">Price</p>
   </div>
   <div class="col-xs-6 no-pad">
    <p class="rightfont">RS.&nbsp;{{c.item.price_before_discount | INR}}</p>
   </div>
  </div>

  <div class="row">
   <div class="col-xs-6 no-pad">
    <p class="leftfont">Discount</p>
   </div>
   <div class="col-xs-6 no-pad" align="right">
    <p class="rightfont">{{c.item.discount}}%</p>
   </div>
  </div>

  <div class="row">
   <div class="col-xs-6 no-pad">
    <p class="leftfont">Quantity</p>
   </div>
   <div class="col-xs-6 no-pad" align="right">
    <p class="rightfont">{{c.quantity}}</p>
   </div>
  </div>

 <hr style="color:#eee;margin:0px;">

 <div class="row" style="padding-bottom:10px;">
  <div class="col-xs-6 no-pad leftfont">
   <p class="leftfont">Subtotal</p>
  </div>
  <div class="col-xs-6 no-pad">
   <p class="rightfont">
       RS.&nbsp;{{c.item.price_after_discount*c.quantity | INR}}
   </p>
  </div>
 </div>
 </div>
</div>

<div class="row visible-sm visible-md hidden-xs margin-top-20px">
 <div class="col-sm-6 no-pad">
  <div class="row">
   <div class="col-sm-6 no-pad">
    <img data-ng-src="images/products-v2/{{c.item.VC_SKU}}-1.jpg" class="img-responsive product-image-border" alt="{{c.item.VC_SKU}}">
   </div>

   <div class="col-sm-6 quantity-structure">
    <a class="btn subtract-quantity-button-sm" data-ng-click="subQuantity(c,$index)">
        -
    </a>

    <h class="normal-text">{{c.quantity}}</h>

    <a data-ng-click="addQuantity(c,$index)" class="btn add-quantity-button-sm">
        +
    </a>

    <div data-ng-show="c.item.ring_size != null && c.item.ring_size != ''" class="row">
      <div class="grey-colour">
       Size : {{c.item.ring_size}}
      </div>
     </div>

    <div data-ng-show="c.item.bangle_size != null && c.item.bangle_size != ''" class="row">
      <div class="grey-colour">
       Size : {{c.item.bangle_size}}
      </div>
     </div>

    <div data-ng-show="c.item.bracelet_size != null && c.item.bracelet_size != ''" class="row">
      <div class="grey-colour">
       Size : {{c.item.bracelet_size}}
      </div>
     </div>

   </div>
  </div>
 </div>

 <div class="col-sm-6 no-pad">
  <div class="row">
   <div class="col-sm-6 no-pad">
    <p class="leftfont-sm">Price</p>
   </div>
   <div class="col-sm-6 no-pad">
    <p class="rightfont-sm">RS.&nbsp;{{c.item.price_before_discount | INR}}</p>
   </div>
  </div>

  <div class="row">
   <div class="col-sm-6 no-pad">
    <p class="leftfont-sm">Discount</p>
   </div>
   <div class="col-sm-6 no-pad" align="right">
    <p class="rightfont-sm">{{c.item.discount}}%</p>
   </div>
  </div>

  <div class="row">
   <div class="col-sm-6 no-pad">
    <p class="leftfont-sm">Quantity</p>
   </div>
   <div class="col-sm-6 no-pad" align="right">
    <p class="rightfont-sm">{{c.quantity}}</p>
   </div>
  </div>

 <hr style="color:#eee;margin:0px;">

 <div class="row padding-bottom-10px">
  <div class="col-sm-6 no-pad">
   <p class="leftfont-sm">Subtotal</p>
  </div>
  <div class="col-sm-6 no-pad">
    <p class="rightfont-sm">
        RS.&nbsp;{{c.item.price_after_discount*c.quantity | INR}}
    </p>
  </div>
 </div>
 </div>
</div>

</div>
</div>

<div data-ng-if="c.item.is_combo=='1'" class="free-gift-text-structure">
 <span class="free-gift-text">
  Free Gift
 </span>
</div>

<div class="row" data-ng-if="c.item.is_combo=='1'" class="combo-title-structure">
 <span class="combo-title">
  {{combo.title}}
 </span>
</div>

<div class="row" data-ng-if="c.item.is_combo=='1'" data-ng-init="getCombo(c.item.combo_id)">

 <div class="col-xs-3">
  <img data-ng-src="images/products-v2/{{combo.VC_SKU}}-1.jpg" class="product-image-border" alt="{{combo.VC_SKU}}">
 </div>

 <div class="col-xs-6 pull-right no-pad">

  <div class="row">
   <div class="col-xs-6 no-pad">
       <p class="leftfont-sm">Price</p>
   </div>
   <div class="col-xs-6 no-pad rightfont-sm">
        RS.&nbsp;{{combo.price_before_discount | INR}}
   </div>
  </div>

  <div class="row">
   <div class="col-xs-6 no-pad leftfont">Quantity</div>
   <div class="col-xs-6 no-pad rightfont" align="right">1</div>
  </div>

  <div class="row">
   <div class="col-xs-6 no-pad leftfont-sm">Subtotal</div>
   <div class="col-xs-6 no-pad rightfont-sm">FREE</div>
  </div>

 </div>
 </div>

 </div>
</div>



<div class="row hidden-md hidden-sm visible-xs">

  <div class="col-xs-8 promocode-input-position">
      <input data-ng-model="ccode" type="text" Placeholder="Promo Code" class="promocode" size="100" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Promo Code'">
      <!-- <select class="promocode" data-ng-model="code">
            <option value="" selected disabled>Promo Code</option>

            <option data-ng-repeat="cp in allcoupons">{{cp.coupon_code}}</option>
        </select> -->
  </div>

  <div class="col-xs-4 padding-right-15px no-padding-left">
   <a data-ng-click="applyCode()" class="btn apply-promocode-button">APPLY</a>
  </div>

</div>

<div class="row hidden-md hidden-sm visible-xs">

 <div class="col-xs-12 text-center margin-top-20px">
  <div class="price_box_checkout_page">
   <h4 class="total-price-text">
       TOTAL: RS.{{total | INR}}
   </h4>

   <span class="promocode-applied-text" data-ng-if="isCouponApplied">
       {{code}} applied
   <a data-ng-click="removeCode()">Remove</a>
   </span>
  </div>
 </div>

</div>

<div class="row hidden-xs visible-sm visible-md">
 <div class="col-sm-6">

 <div class="col-sm-8 promocode-input-position-sm">
    <input type="text" Placeholder="Promo Code" class="promocode-sm" size="100" onfocus="this.placeholder = ''" data-ng-model="ccode" onblur="this.placeholder = 'Promo Code'">
     <!-- <select class="promocode-sm" data-ng-model="code">
            <option value="" selected disabled>Promo Code</option>

            <option data-ng-repeat="cp in allcoupons">{{cp.coupon_code}}</option>
        </select> -->
 </div>

 <div class="col-sm-4 apply-button-position-sm">
  <a data-ng-click="applyCode()" class="btn apply-promocode-button-sm">APPLY</a>
 </div>
</div>

 <div class="col-sm-6 hidden-xs visible-sm visible-md">
 <div class="col-sm-12 total-text-structure-sm">
 <div class="price_box_checkout_page-sm">
  <h4 class="total-price-text-sm">
      TOTAL: RS.{{total | INR}}
  </h4>

  <span class="promocode-applied-text-sm" data-ng-if="isCouponApplied">
      {{code}} applied
  <a data-ng-click="removeCode()">Remove</a>
  </span>
 </div>
 </div>
</div>
</div>

<div class="row hidden-md hidden-sm visible-xs normal-text padding-top-10px">
 <div class="col-xs-12">

 <div class="row padding-bottom-10px">

  <div class="col-xs-4 no-pad">I want to gift wrap</div>

  <div class="col-xs-4 text-left no-pad">

   <input name="radioGroup" id="radio3" data-ng-model="isGift" value="1" type="radio" style="width: 50%;vertical-align: middle;margin-top: -3px;">

   <label class="yes-no-text">Yes</label>

  </div>


  <div class="col-xs-4 text-left no-pad">

  <input name="radioGroup" id="radio4" data-ng-model="isGift" value="0" checked="" type="radio" style="width: 50%;vertical-align: middle;margin-top: -3px;">

  <label class="yes-no-text">No</label>

  </div>

</div>


 <p class="no-padding-left normal-text">
     Any particular instructions?
 </p>

 <textarea data-ng-model="comment" rows="3" class="instruction-textarea"></textarea>

</div>

</div>

<div class="row hidden-xs visible-sm visible-md normal-text padding-top-20px">
 <div class="col-sm-12">

<div class="row">

 <div class="col-sm-4 no-padding-left normal-text">I want to gift wrap</div>

  <div class="col-sm-2 text-left no-pad">
    <input name="radioGroup2" id="radio1" data-ng-model="isGift" value="1" type="radio" style="width: 50%;vertical-align: middle;margin-top: -3px;">

    <label class="yes-no-text">Yes</label>

  </div>


  <div class="col-sm-2 no-pad text-left" style="float:left;padding: 0px;">

   <input name="radioGroup2" id="radio2" data-ng-model="isGift" value="0" checked="" type="radio" style="width: 50%;vertical-align: middle;margin-top: -3px;">

   <label class="yes-no-text">No</label>

  </div>

</div>


 <p class="no-padding-left normal-text">
     Any particular instructions?
 </p>

<textarea data-ng-model="comment" rows="3" class="instruction-textarea"></textarea>

</div>
</div>

<div class="row visible-xs hidden-md hidden-sm">
 <div class="col-xs-12">
  <center>
  <a data-ng-click="confirmOrder(total)" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" class="btn proceedbutton-checkout">
    Proceed
  </a>
 </center>
 </div>
</div>

<div class="row visible-sm visible-md hidden-xs">
 <div class="col-sm-12">
  <center>
  <a data-ng-click="confirmOrder(total)" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" class="btn proceedbutton-checkout-sm">
   Proceed
  </a>
 </center>
 </div>
</div>

<div class="row visible-xs hidden-md hidden-sm">
 <div class="col-xs-12">
  <p class="continue-shopping-text-position">
   <a href="#i/home" class="continue-shopping-text">
      OR CONTINUE SHOPPING
   </a>
  </p>
 </div>
</div>

<div class="row visible-sm visible-md hidden-xs">
 <div class="col-sm-12">
  <p class="continue-shopping-text-position-sm">
   <a href="#i/home" class="continue-shopping-text-sm">
      OR CONTINUE SHOPPING
   </a>
  </p>
 </div>
</div>


 </div>
 </div>
 </div>
</div>

<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingTwo">

<h4 class="panel-title visible-xs hidden-md hidden-sm">
 <center>
  <a class="collapsed tab-heading-text" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseTwo">
      ACCOUNT DETAILS
  </a>
 </center>
</h4>

<h4 class="panel-title visible-sm visible-md hidden-xs">
 <center>
  <a class="collapsed tab-heading-text-sm" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseTwo">
      ACCOUNT DETAILS
  </a>
 </center>
</h4>

</div>

<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
<div class="panel-body">

  <!-- Nav tabs -->
<ul class="nav nav-tabs visible-xs hidden-md hidden-sm" role="tablist">
 <li role="presentation" class="active text-center login-text-styling">
  <a data-target="#home" aria-controls="home" role="tab" data-toggle="tab">
      Register
  </a>
 </li>

 <li role="presentation" class="text-center login-text-styling">
  <a data-target="#profile" aria-controls="profile" role="tab" data-toggle="tab">
      Login
  </a>
 </li>
</ul>

<ul class="nav nav-tabs visible-sm visible-md  hidden-xs" role="tablist">
 <li role="presentation" class="active text-center login-text-styling">
  <a data-target="#home" aria-controls="home" role="tab" data-toggle="tab">
      Register
  </a>
 </li>

 <li role="presentation" class="text-center login-text-styling">
  <a data-target="#profile" aria-controls="profile" role="tab" data-toggle="tab">
      Login
  </a>
 </li>
</ul>

   <!-- Tab panes -->
<div class="tab-content">
<div role="tabpanel" class="tab-pane active border-bottom-none" id="home">
<div class="row">
 <div class="col-sm-12 no-pad">
  <div class="vivo-login-panel no-pad">

  <div class="register_account no-pad">
  <div class="wrap no-pad width-100-percent">

  <form class="visible-sm visible-md hidden-xs">
  <div class="row text-center">
   <div class="col-sm-12 placeholdlight no-pad">

    <div class="margin-bottom-20px normal-text" style="margin-top:15px;">
     <input type="text" placeholder="Name*" data-ng-model="customer_new.name" required class="text-center input-border">
   </div>

   <div class="margin-bottom-20px normal-text">
    <input type="text" placeholder="Phone Number*" data-ng-model="customer_new.phone" maxlength="10" pattern="(\+?\d[- .]*){10,10}" required class="text-center input-border">
  </div>

  <div class="margin-bottom-20px normal-text">
   <input type="email" placeholder="Email*" data-ng-model="customer_new.email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" required class="text-center input-border">
  </div>

  <div class="margin-bottom-20px normal-text">
   <input data-ng-class="isPasswordError?'error-text':'correct-text'" type="password" placeholder="Password*" data-ng-model="customer_new.password" class="text-center input-border">
  </div>
  <span class="normal-text grey-colour">{{message}}</span>

  <div class="row">
   <div class="col-sm-2 no-pad text-right">
    <input type="checkbox" name="address" data-ng-model="isNewAddress" style="width: 31px;">
   </div>

   <div class="col-sm-10 no-pad text-left">By clicking 'Create Account' you agree to the
    <a target="_blank" href="#i/terms" class="vivocarat-theme-colour">
        Terms &amp; Conditions
    </a>.
   </div>

  </div>

   </div>
  </div>
 </form>

    <form class="visible-xs hidden-md hidden-sm">
     <div class="row text-center">
      <div class="col-xs-12 placeholdlight no-pad">
       <div class="margin-bottom-10px margin-top-10px normal-text">
        <input type="text" placeholder="Name*" class="text-center input-border" data-ng-model="customer_new.name" required>
       </div>

       <div class="margin-bottom-10px normal-text">
        <input type="text" placeholder="Phone Number*" class="text-center input-border" data-ng-model="customer_new.phone" maxlength="10" pattern="(\+?\d[- .]*){10,10}" required>
       </div>

       <div class="margin-bottom-10px normal-text">
        <input type="email" placeholder="Email*" class="text-center input-border" data-ng-model="customer_new.email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" required>
       </div>

       <div class="margin-bottom-10px normal-text">
        <input data-ng-class="isPasswordError?'error-text':'correct-text'" type="password" placeholder="Password*" class="text-center input-border" data-ng-model="customer_new.password">
       </div>
       <span class="normal-text grey-colour">{{message}}</span>

       <div class="row text-center normal-text" style="padding:25px;">
        <div class="col-xs-2 no-pad">
         <input type="checkbox" name="address" data-ng-model="isNewAddress" style="width: 31px;">
        </div>

        <div class="col-xs-10 no-pad">
         <span class="normal-text text-center">By clicking 'Create Account' you agree to the <a href="#i/terms" target="_blank" style="bold-font vivocarat-theme-colour">Terms &amp; Conditions</a>.
         </span>
        </div>

       </div>
      </div>
     </div>
    </form>
<div>

<center>
 <a data-ng-click="signup()" class="btn create-account-button visible-xs hidden-md hidden-sm">
     Create Account
 </a>
</center>

<center>
 <a data-ng-click="signup()" class="btn create-account-button-sm visible-sm visible-md hidden-xs">
     Create Account
 </a>
</center>

  </div>
 </div>
 </div>
 </div>
 </div>
</div>

</div>

<div role="tabpanel" class="tab-pane border-bottom-none" id="profile">
<div class="row">
 <div class="col-sm-12 no-pad">
  <div class="vivo-login-panel no-pad">

   <div class="register_account no-pad">
    <div class="wrap no-pad width-100-percent">
     <form class="hidden-xs visible-sm visible-md">
      <div class="row text-center">
       <div class="col-xs-12 placeholdlight padding-2px">

        <div class="margin-bottom-20px normal-text margin-top-20px">
         <input id="modlgn_username" placeholder="Email*" data-ng-model="customer.email" type="text" name="email" size="18" autocomplete="off" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" required class="text-center input-border">
        </div>

        <div class="margin-bottom-20px normal-text">
         <input id="modlgn_passwd" data-ng-model="customer.password" placeholder="Password*" type="password" name="password" size="18" autocomplete="off" class="text-center input-border">
        </div>

          <a data-toggle="modal" data-target="#myModal" class="normal-text">
              Forget Your Password ?
          </a>
       </div>
      </div>
     </form>

<form class="visible-xs hidden-md hidden-sm">
 <div class="row text-center">
  <div class="col-xs-12 placeholdlight padding-2px">

   <div class="margin-top-10px margin-bottom-10px normal-text">
    <input id="modlgn_username" placeholder="Email*" class="text-center input-border" data-ng-model="customer.email" type="text" name="email" size="18" autocomplete="off" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" required>
  </div>

  <div class="margin-top-10px margin-bottom-10px normal-text">
   <input id="modlgn_passwd" data-ng-model="customer.password" placeholder="Password*" class="text-center input-border" type="password" name="password" size="18" autocomplete="off">
  </div>

   <a data-toggle="modal" data-target="#myModal" class="normal-text">
       Forget Your Password ?
   </a>
 </div>
 </div>
</form>

<div class="row text-center">
 <center>
  <input type="submit" name="Submit" class="btn create-account-button visible-xs hidden-md hidden-sm" data-ng-click="loginUser(customer)" value="Login">

  <div class="row visible-xs hidden-md hidden-sm">
   <p class="or-text">OR</p>
  </div>

  <div data-ng-click="authenticate('facebook')" class="row visible-xs hidden-md hidden-sm">
   <div class="btn facebook-login-button-structure">
    <img src="images/mobile/login/icons/login_fb_button-m.jpg" class="padding-right-10px" alt="facebook social login">
       Login with Facebook
  </div>
 </div>

 <div data-ng-click="authenticate('google')" class="row padding-top-5px visible-xs hidden-md hidden-sm">
  <div class="btn google-plus-login-button-structure">
   <img src="images/mobile/login/icons/login_gmail_button-m.jpg" class="padding-right-10px" alt="Google social login">
      Login with Google
  </div>
 </div>

  <fb:login-button scope="public_profile,email" fb-login show-faces="false" max-rows="0" size="xlarge"></fb:login-button>

 </center>

<center>
 <input type="submit" name="Submit" class="btn create-account-button-sm hidden-xs visible-sm visible-md" data-ng-click="loginUser(customer)" value="Login">

 <div class="row hidden-xs visible-sm visible-md">
  <p class="or-text-sm">OR</p>
 </div>

 <div data-ng-click="authenticate('facebook')" class="row hidden-xs visible-sm visible-md">
  <div class="btn facebook-login-button-structure">
   <img src="images/mobile/login/icons/login_fb_button-m.jpg" class="padding-right-10px" alt="facebook social login">
     Login with Facebook
  </div>
 </div>

 <div data-ng-click="authenticate('google')" class="row padding-top-5px hidden-xs visible-sm visible-md">
  <div class="btn google-plus-login-button-structure">
   <img src="images/mobile/login/icons/login_gmail_button-m.jpg" class="padding-right-10px" alt="Google social login">
      Login with Google
  </div>
 </div>

<fb:login-button scope="public_profile,email" fb-login show-faces="false" max-rows="0" size="xlarge"></fb:login-button>

</center>
</div>

   </div>
   </div>
   </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index:9999">
 <div class="modal-dialog" role="document">
  <div class="modal-content">
   <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
     </button>
     <h4 class="modal-title" id="myModalLabel" style="font-family:'leela'">Enter your email</h4>
   </div>
   <div class="modal-body">
    <input type="email" data-ng-model="femail" style="width: 270px;border: 1px solid #d2d2d2;" required>
   </div>
   <div class="modal-footer">
    <a class="btn btn-default btn-sx" data-dismiss="modal" style="font-family:'leela'">Cancel</a>
    <a data-ng-click="forgotPassword()" class="btn btn-vivo btn-sm" style="font-family:'leela'"> Forgot Password</a>
   </div>
        </div>
    </div>
</div>


  </div>
  </div>
  </div>
  </div>
 </div>


<div class="panel panel-default no-pad">
<div class="panel-heading" role="tab" id="headingThree">

<h4 class="panel-title visible-xs hidden-md hidden-sm">
 <center>
  <a class="collapsed tab-heading-text" role="button" data-toggle="collapse" data-parent="#accordion"  aria-expanded="false" aria-controls="collapseThree">
     SHIPPING DETAILS
  </a>
 </center>
</h4>

<h4 class="panel-title visible-sm visible-md hidden-xs">
 <center>
  <a class="collapsed tab-heading-text-sm" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseThree">
        SHIPPING DETAILS
  </a>
 </center>
</h4>


</div>

<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
<div class="panel-body">
<div class="row">
 <div class="col-xs-12 no-pad visible-xs hidden-md hidden-sm">
  <p class="text-center normal-text margin-bottom-20px">
      Shipping Address
  </p>

  <div class="register_account no-pad">

      <div class="wrap no-pad width-100-percent">

       <form>

        <div class="row text-center">
         <div class="col-xs-12 placeholdlight no-pad normal-text">
          <center>
           <input type="text" placeholder="Phone No*" class="text-center form-control vivo-input input-border" data-ng-model="ship_address.phone">
          </center>
         </div>
        </div>

        <div class="row text-center">
         <div class="col-xs-12 placeholdlight no-pad normal-text">
          <center>
           <textarea type="text" cols="30" placeholder="Address*" class="text-center input-border checkout-address-textarea" data-ng-model="ship_address.first_line">
           </textarea>
          </center>
        </div>
       </div>


      <div class="row text-center">
       <div class="col-xs-12 placeholdlight no-pad normal-text">
        <center>
         <input type="text" placeholder="PIN*" class="text-center input-border" data-ng-model="ship_address.pin">
        </center>
       </div>
      </div>

      <div class="row text-center">
       <div class="col-xs-12 placeholdlight no-pad normal-text">
        <center>
         <input type="text" placeholder="City*" class="text-center form-control vivo-input input-border" data-ng-model="ship_address.city">
        </center>
      </div>
     </div>

     <div class="row text-center">
      <div class="col-xs-12 placeholdlight no-pad normal-text margin-bottom-20px">
      <center>
       <input type="text" placeholder="State*" class="text-center form-control vivo-input input-border" data-ng-model="ship_address.state">
      </center>
      </div>
     </div>

     <div class="row text-center margin-top-20px margin-bottom-20px">
      <center>
       <input type="checkbox" name="address" data-ng-model="isNewAddress" style="width: 40px;">
       <label class="same-billing-address-position">
           Same as billing address
       </label>
      </center>
     </div>

   </form>

 </div>
 </div>

</div>
</div>


<div data-ng-show="!isNewAddress" class="col-xs-12 no-pad visible-xs hidden-md hidden-sm">

<p class="text-center normal-text margin-bottom-20px">
      Billing Address
</p>

<div class="register_account no-pad">
<div class="wrap no-pad width-100-percent">
<form>

 <div class="row text-center">
  <div class="col-xs-12 placeholdlight no-pad">

   <div class="margin-bottom-20px normal-text">
    <center>
     <input type="text" placeholder="Name*" class="text-center form-control vivo-input input-border" data-ng-model="address.name">
    </center>
   </div>

   <div class="margin-bottom-20px normal-text">
    <center>
     <input type="text" placeholder="Phone No*" class="text-center form-control vivo-input text-center input-border" data-ng-model="address.phone">
   </center>
  </div>

  <div class="margin-bottom-20px normal-text">
   <center>
    <textarea type="text" cols="30" placeholder="Address*" class="text-center input-border checkout-address-textarea" data-ng-model="address.first_line">
    </textarea>
   </center>
  </div>

  <div class="margin-bottom-20px normal-text">
   <center>
    <input type="text" placeholder="Pincode*" class="form-control vivo-input text-center input-border" data-ng-model="address.pin">
   </center>
  </div>

  <div class="margin-bottom-20px normal-text">
   <center>
    <input type="text" placeholder="City*" class="form-control vivo-input text-center input-border" data-ng-model="address.city">
   </center>
  </div>

  <div class="margin-bottom-20px normal-text">
   <center>
    <input type="text" placeholder="State*" class="form-control vivo-input text-center input-border" data-ng-model="address.state">
   </center>
  </div>

 </div>
</div>
</form>

</div>
</div>

</div>

<div data-ng-show="!isNewAddress" class="col-xs-12 no-pad visible-sm visible-md  hidden-xs">

<p class="text-center normal-text margin-bottom-20px" style="margin-bottom: 15px;font-size: 17px !important">
    Billing Address
</p>

<div class="register_account no-pad">
<div class="wrap no-pad width-100-percent">
<form>
 <div class="row text-center">
  <div class="col-xs-12 placeholdlight no-pad">

   <div class="margin-bottom-20px normal-text">
    <center>
     <input type="text" placeholder="Name*" class="form-control vivo-input text-center input-border" data-ng-model="address.name">
    </center>
   </div>

   <div class="margin-bottom-20px normal-text">
        <center>
         <input type="text" placeholder="Phone No*" class="form-control vivo-input text-center input-border" data-ng-model="address.phone">
        </center>
   </div>

       <div class="margin-bottom-20px normal-text">
        <center>
         <textarea type="text" cols="30" placeholder="Address*" class="checkout-address-textarea text-center input-border" data-ng-model="address.first_line">
         </textarea>
        </center>
       </div>

     <div class="margin-bottom-20px normal-text">
      <center>
       <input type="text" placeholder="Pincode*" class="form-control vivo-input text-center input-border" data-ng-model="address.pin">
      </center>
     </div>

     <div class="margin-bottom-20px normal-text">
      <center>
       <input type="text" placeholder="City*" class="form-control vivo-input text-center input-border" data-ng-model="address.city">
      </center>
     </div>

     <div class="margin-bottom-20px normal-text">
      <center>
       <input type="text" placeholder="State*" class="form-control vivo-input text-center input-border" data-ng-model="address.state">
      </center>
     </div>

    </div>
   </div>
  </form>
</div>
</div>

</div>

<div class="row visible-sm visible-md hidden-xs margin-top-20px">
 <div class="col-xs-12 no-pad">

<p class="text-center normal-text margin-bottom-20px" style="font-size: 17px !important">
     Shipping Address
</p>

<div class="register_account no-pad">
<div class="wrap width-100-percent">
<form>

     <div class="row">
      <div class="col-xs-12 placeholdlight no-pad normal-text">
       <center>
        <input type="text" placeholder="Name*" class="form-control vivo-input text-center input-border" data-ng-model="ship_address.name">
       </center>
      </div>
     </div>

     <div class="row">
      <div class="col-xs-12 placeholdlight no-pad normal-text">
       <center>
        <textarea type="text" cols="30" placeholder="Phone No*" class="form-control vivo-input text-center input-border" data-ng-model="ship_address.phone">
        </textarea>
       </center>
      </div>
     </div>

     <div class="row">
      <div class="col-xs-12 placeholdlight no-pad normal-text">
       <center>
        <textarea type="text" placeholder="Address*" class="checkout-address-textarea text-center input-border" data-ng-model="ship_address.first_line">
        </textarea>
       </center>
      </div>
     </div>

     <div class="row">
      <div class="col-xs-12 placeholdlight no-pad normal-text">
       <center>
        <input type="text" placeholder="PIN*" class="form-control vivo-input text-center input-border" data-ng-model="ship_address.pin">
       </center>
      </div>
     </div>

     <div class="row">
      <div class="col-xs-12 placeholdlight no-pad normal-text">
       <center>
        <input type="text" placeholder="City*" class="form-control vivo-input text-center input-border" data-ng-model="ship_address.city">
       </center>
      </div>
     </div>

    <div class="row">
     <div class="col-xs-12 placeholdlight no-pad margin-bottom-20px normal-text">
      <center>
       <input type="text" placeholder="State*" class="form-control vivo-input text-center input-border" data-ng-model="ship_address.state">
      </center>
     </div>
    </div>

    <div class="row margin-top-20px margin-bottom-20px">
     <center>
      <input type="checkbox" name="address" data-ng-model="isNewAddress" style="width: 40px;">
       <label class="same-billing-address-position">
           Same as billing address
       </label>
     </center>
    </div>

  </form>
 </div>
</div>

</div>

</div>

<div class="row">
 <div class="col-xs-12 no-pad" align="center">

 <center>
  <input class="btn proceedbutton-checkout visible-xs hidden-md hidden-sm" type="submit" name="Submit" data-ng-click="addAddress()" value="PROCEED">
 </center>

  <center>
   <input class="btn proceedbutton-checkout-sm visible-sm visible-md hidden-xs" type="submit" name="Submit" data-ng-click="addAddress()" value="PROCEED">
  </center>
</div>
</div>



</div>
</div>
</div>

<div class="panel panel-default">
<div class="panel-heading" role="tab" id="headingFour">

<h4 class="panel-title text-center  visible-xs hidden-md hidden-sm">
 <center>
  <a class="collapsed tab-heading-text" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseFour">
        PRODUCT SUMMARY
  </a>
 </center>
</h4>

<h4 class="panel-title text-center visible-sm visible-md hidden-xs">
 <center>
  <a class="collapsed tab-heading-text-sm" role="button" data-toggle="collapse" data-parent="#accordion" aria-expanded="false" aria-controls="collapseFour">
        PRODUCT SUMMARY
  </a>
 </center>
</h4>

</div>

<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
<div class="panel-body">

<div class="row visible-sm visible-md hidden-xs">
 <div class="col-sm-12 no-padding-left-right product-summary-credentials">
   <div class="row">
    <div class="col-sm-3 no-pad checkout-confirmorder-styling-main">Name</div>
     <div class="col-sm-9 no-pad checkout-confirmorder-styling">{{name}}</div>
   </div>

   <div class="row">
    <div class="col-sm-3 no-pad checkout-confirmorder-styling-main">Email</div>
    <div class="col-sm-9 no-pad checkout-confirmorder-styling">{{email}}</div>
   </div>

   <div class="row">
    <div class="col-sm-3 no-pad checkout-confirmorder-styling-main">Phone</div>
    <div class="col-sm-9 no-pad checkout-confirmorder-styling">{{phone}}</div>
   </div>

   <div class="row">
    <div class="col-sm-3 no-pad checkout-confirmorder-styling-main">
        Shipping Address
    </div>

    <div class="col-sm-9 no-pad checkout-confirmorder-styling">

     <div class="row">
      <div class="col-sm-12 no-pad">
       {{ship.first_line}}
      </div>
     </div>

     <div class="row">
      <div class="col-sm-12 no-pad">
       {{ship.second_line}}
      </div>
     </div>

     <div class="row">
      <div class="col-sm-12 no-pad">
       {{ship.city}} - {{ship.pin}}
      </div>
     </div>

     <div class="row">
      <div class="col-sm-12 no-pad">
       {{ship.state}}, {{ship.country}}
      </div>
     </div>

    </div>
   </div>

   <div class="row">
    <div class="col-sm-3 no-pad checkout-confirmorder-styling-main">
        Billing Address
    </div>

    <div class="col-sm-9 no-pad checkout-confirmorder-styling">
     <div class="row">
      <div class="col-sm-12 no-pad">
       {{order.first_line}}
      </div>
     </div>

     <div class="row">
      <div class="col-sm-12 no-pad">
       {{order.second_line}}
      </div>
     </div>

     <div class="row">
      <div class="col-sm-12 no-pad">
       {{order.district}}
      </div>
     </div>

     <div class="row">
      <div class="col-sm-12 no-pad">
       {{order.city}} - {{order.pin}}
      </div>
     </div>

     <div class="row">
      <div class="col-sm-12 no-pad">
       {{order.state}}, {{order.country}}
      </div>
     </div>
    </div>

  </div>
 </div>

  <div class="row">
   <div class="col-sm-12 product-summary-structure-sm" data-ng-repeat="c in products">

   <div class="col-sm-12 text-left no-pad margin-bottom-20px">
     <a data-ng-href="#p/{{c.item.id}}"><p class="product-checkout-title-sm">{{c.item.title}}</p></a>
   </div>

   <div class="row">

    <div class="col-sm-3 no-pad">
     <img data-ng-src="images/products-v2/{{c.item.VC_SKU}}-1.jpg" class="img-responsive product-image-border" alt="{{c.item.VC_SKU}}">
    </div>

    <div class="col-sm-9">
     <div class="row">
      <div class="col-xs-12 grid-price-after text-left">
       RS.&nbsp;{{c.item.price_after_discount | INR}}
     </div>
     </div>

     <div class="row">
      <div class="col-xs-6 text-left grid-price-before padding-left-15px">
        RS. {{c.item.price_before_discount | INR}}
      </div>

      <div class="col-xs-6 grid-price-before">
        {{c.item.discount}} % OFF
      </div>
     </div>
        
    </div>

   </div>

</div>
</div>

</div>

<div class="row visible-xs hidden-md hidden-sm">
 <div class="col-xs-12 no-padding-left-right product-summary-credentials">
  <div class="row">
   <div class="col-xs-3 no-pad normal-text bold-font">Name</div>
   <div class="col-xs-9 no-pad normal-text">{{name}}</div>
  </div>

  <div class="row">
   <div class="col-xs-3 no-pad normal-text bold-font">Email</div>
   <div class="col-xs-9 no-pad normal-text">{{email}}</div>
  </div>

  <div class="row">
   <div class="col-xs-3 no-pad normal-text bold-font">Phone</div>
   <div class="col-xs-9 no-pad normal-text">{{phone}}</div>
  </div>

  <div class="row">
   <div class="col-xs-3 no-pad normal-text bold-font">Billing Address</div>
   <div class="col-xs-9 no-pad normal-text">

    <div class="row">
     <div class="col-xs-12 no-pad">
      {{order.first_line}}
     </div>
    </div>

    <div class="row">
     <div class="col-xs-12 no-pad">
      {{order.second_line}}
     </div>
    </div>

    <div class="row">
     <div class="col-xs-12 no-pad">
     {{order.district}}
     </div>
    </div>

    <div class="row">
      <div class="col-xs-12 no-pad">
       {{order.city}} - {{order.pin}}
      </div>
     </div>

     <div class="row">
      <div class="col-xs-12 no-pad">
       {{order.state}}, {{order.country}}
      </div>
     </div>
   </div>
  </div>

  <div class="row">
   <div class="col-xs-3 no-pad normal-text bold-font">Shipping Address</div>

   <div class="col-xs-9 no-pad normal-text">
    <div class="row">
     <div class="col-xs-12 no-pad">
      {{ship.first_line}}
     </div>
    </div>

    <div class="row">
     <div class="col-xs-12 no-pad">
      {{ship.district}}
     </div>
    </div>

    <div class="row">
     <div class="col-xs-12 no-pad">
      {{ship.city}} - {{ship.pin}}
     </div>
    </div>

    <div class="row">
     <div class="col-xs-12 no-pad">
      {{ship.state}}, {{ship.country}}
     </div>
    </div>
   </div>
  </div>
 </div>

 <div class="row">
  <div class="col-xs-12 product-summary-structure" data-ng-repeat="c in products">

   <div class="col-xs-12 text-left no-pad margin-bottom-20px">
    <a data-ng-href="#p/{{c.item.id}}"><p class="product-checkout-title">{{c.item.title}}</p></a>
   </div>

   <div class="row">
    <div class="col-xs-3 no-pad">
     <img data-ng-src="images/products-v2/{{c.item.VC_SKU}}-1.jpg" class="img-responsive product-image-border" alt="{{c.item.VC_SKU}}">
    </div>

   <div class="col-xs-8">
    <div class="row">
     <div class="col-xs-12 grid-price-after text-left no-pad">
       RS.&nbsp;{{c.item.price_after_discount | INR}}
     </div>
    </div>

    <div class="row">
     <div class="col-xs-6 grid-price-before no-pad text-left">
            RS. {{c.item.price_before_discount | INR}}
     </div>

    <div class="col-xs-6 grid-price-before no-pad text-left">
             {{c.item.discount}}% OFF
    </div>
    </div>

   </div>

  </div>
 </div>
</div>
</div>

<div class="row visible-xs hidden-md hidden-sm padding-top-10px padding-bottom-10px">

 <div class="col-xs-12 text-center no-pad">
  <input type="radio" data-ng-model="isCod" name="cod1" value="1" style="vertical-align: middle;margin-top: -3px;">
   <label class="normal-text">
       Cash on Delivery
   </label>
 </div>

</div>

<div class="row visible-xs hidden-md hidden-sm padding-top-10px padding-bottom-10px" style="border-bottom: 1px solid #eee;">
 <div class="col-xs-12 text-center no-pad">
  <input type="radio" data-ng-model="isCod" name="cod1" value="0" style="vertical-align: middle;margin-top: -3px;">
   <label class="normal-text" style="padding-left: 2px;">
       Online Payment
   </label>
 </div>

</div>

<div class="row visible-sm visible-md hidden-xs margin-top-10px">
 <div class="col-sm-11 text-center no-pad">
  <input type="radio" data-ng-model="isCod" name="cod" value="1">
   <label class="normal-text">COD</label>
 </div>
</div>

<div class="row visible-sm visible-md hidden-xs margin-top-10px margin-bottom-10px padding-bottom-10px" style="border-bottom: 1px solid #eee;">
  <div class="col-sm-12 text-center no-pad">
   <input type="radio" data-ng-model="isCod" name="isCod" value="0">
    <label class="normal-text">Online Payment</label>
  </div>
</div>

<div class="row visible-xs hidden-md hidden-sm">

 <div class="col-xs-12 text-center no-pad">
  <h2 class="grand-total-text">Grand Total: Rs. {{total | INR}}</h2>
 </div>
</div>

<div class="row visible-sm visible-md hidden-xs">

 <div class="col-sm-12 text-center">
  <h2 class="grand-total-text-sm">Grand Total: Rs. {{total | INR}}</h2>
 </div>

</div>

<div class="row" align="center">
 <div class="col-xs-12 no-pad visible-xs hidden-md hidden-sm">
  <a class="btn proceedbutton-checkout" data-ng-click="finalConfirmation(total)">
      Confirm Order
  </a>
 </div>

 <div class="col-xs-12 no-pad visible-sm visible-md hidden-xs">
  <a class="btn proceedbutton-checkout-sm" data-ng-click="finalConfirmation(total)">
      Confirm Order
  </a>
 </div>
</div>


   </div>
   </div>
  </div>


  </div>

<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
        </button>
         <h4 class="modal-title" id="myModalLabel">Register on VivoCarat</h4>
       </div>

<div class="modal-body">
 <div><!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
   <li role="presentation" class="active text-center">
    <a data-target="#login" aria-controls="home" role="tab" data-toggle="tab">Login</a>
   </li>

   <li role="presentation" class="text-center">
    <a data-target="#register" aria-controls="profile" role="tab" data-toggle="tab">Register</a>
   </li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content no-pad">
   <div role="tabpanel" class="tab-pane active" id="login">
     <div class=" ">
      <h4 class="color4 text-center" style="font-weight: normal; margin-bottom: 15px">Registered Customers</h4>
      <div class="register_account">
       <div class="wrap">
        <form>
         <div class="row text-center">
          <div class="col-xs-12 ">

           <div style="margin-bottom: 15px">
            <input id="modlgn_username" placeholder="Email" data-ng-model="customer.email" type="text" name="email" size="18" autocomplete="off">
           </div>

           <div style="margin-bottom: 15px">
            <input id="modlgn_passwd" data-ng-model="customer.password" placeholder="Password" type="password" name="password" size="18" autocomplete="off">
           </div>

           <div>
            <a data-toggle="modal" data-target="#myModal">Forget Your Password ? </a>
           </div>

           </div>
           </div>
          </form>

          <div>
           <input type="submit" name="Submit" class="btn btn-vivo-checkout btn-lg btn-block" data-ng-click="loginUser(customer)" style="margin-top:20px; z-index:0" class="button" value="Login">
          </div>

         </div>
        </div>
       </div>
      </div>

     <div role="tabpanel" class="tab-pane" id="register">
      <div class="">
       <h4 class="color4 text-center" style="font-weight: normal; margin-bottom: 15px">New Customers</h4>
       <div class="register_account">
       <div class="wrap">
        <form>
         <div class="row text-center">
          <div class="col-xs-12;">

           <div style="margin-bottom: 13px">
            <input type="text" placeholder="Name" data-ng-model="customer_new.name">
           </div>

           <div style="margin-bottom: 13px">
            <input type="text" placeholder="Phone Number" data-ng-model="customer_new.phone">
           </div>

            <div style="margin-bottom: 13px">
             <input type="email" placeholder="Email" data-ng-model="customer_new.email">
            </div>

             <div style="margin-bottom: 13px">
              <input type="password" placeholder="Password" data-ng-model="customer_new.password">
             </div>

             <div class="row">
               By clicking 'Create Account' you agree to the <a target="_blank" href="#i/terms" style="color:#E62739">Terms &amp; Conditions</a>.
             </div>

           </div>
          </div>
         </form>

         <div>
          <input class="btn btn-vivo-checkout btn-lg btn-block" type="submit" style="margin-top:20px; z-index:0" name="Submit" data-ng-click="signup()" value="Create an Account">
         </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<vivo-footer></vivo-footer>
 
<!---- popup ---->
<div class="arrow animated bounce visible-xs hidden-sm hidden-md"></div>
<div id="overlay-back"></div>
<div id="overlay" class="popup visible-xs hidden-sm hidden-md">
    <div class="close ns-close"></div>
    <div class="modal-body text-center no-pad">
     <div class="row">
      <div class="col-xs-12 text-center padding-left-8px padding-right-8px">
       <button data-ng-click="applycouponpopup()" class="popup-apply-coupon">
           Click here to apply coupon
       </button>
      </div>
     </div>
    </div>
</div>

<div class="arrow-sm animated bounce visible-sm visible-md hidden-xs"></div>
<div id="overlay-back-sm"></div>
<div id="overlay-sm" class="popup-sm visible-sm visible-md hidden-xs">
    <div class="close-sm ns-close-sm"></div>
    <div class="modal-body text-center no-pad">
     <div class="row">
      <div class="col-sm-12 text-center padding-left-8px padding-right-8px">
       <button data-ng-click="applycouponpopup()" class="popup-apply-coupon-sm">
           Click here to apply coupon
       </button>
      </div>
     </div>
    </div>
</div>

<script>
 $(document).ready(function() {
    $('.arrow').hide();
    $('.arrow').css( "visibility", "hidden" );
    $('.close').click(function(){
        $('.popup').css( "right", "-380px" ); 
        $('#overlay, #overlay-back').fadeOut(500);
    });
     
    $('.arrow').click(function(){
        ga('send', 'event', 'click', 'Checkout gift mobile click', {transport: 'image'});
        $('.popup').css( "right", "20px" );
        $('#overlay, #overlay-back').fadeIn(500);
    });
     
    $('.arrow-sm').hide();
    $('.arrow-sm').css( "visibility", "hidden" );
    $('.close-sm').click(function(){
        $('.popup-sm').css( "right", "-577px" );
        $('#overlay-sm, #overlay-back-sm').fadeOut(500);
    });
     
    $('.arrow-sm').click(function(){
        ga('send', 'event', 'click', 'Checkout gift tablet click', {transport: 'image'});
        $('.popup-sm').css( "right", "90px" );
        $('#overlay-sm, #overlay-back-sm').fadeIn(500);
          
    });    
});
</script>