<vivo-header></vivo-header>

<div class="row mob-top-pad padding-bottom-60px">
        
<div class="row visible-xs hidden-sm hidden-md">
 <div class="col-xs-7 vivocarat-heading">CONTACT US</div>

 <div class="col-xs-5 categoryGrad">

 </div>
</div>
    
<div class="row visible-sm visible-md hidden-xs padding-top-25px">
 <div class="col-sm-4 vivocarat-heading-sm">CONTACT US</div>

 <div class="col-sm-8 categoryGrad-sm">

 </div>
</div>
 
<div class="container">
    
<div class="row visible-xs hidden-sm hidden-md">
         <div class="col-xs-6 no-padding-left-right">
           <p class="heading bold-font">General</p>
             <p class="contact-information">
               +91 9167 645 314 hello@vivocarat.com
              </p> 
         </div>
            
         <div class="col-xs-6 no-padding-left-right">
           <p class="heading bold-font">Seller Connect</p>

            <p class="contact-information">
                +91 9503 781 870 partners@vivocarat.com
           </p> 
         </div>
        </div>
        
        <div class="row visible-md visible-sm hidden-xs">
         <div class="col-sm-6 no-padding-left-right">
           <p class="heading bold-font">General</p>
             <p class="contact-information">
               +91 9167 645 314 hello@vivocarat.com
              </p> 
         </div>
            
         <div class="col-sm-6 no-padding-left-right">
           <p class="heading bold-font">Seller Connect</p>

            <p class="contact-information">
                +91 9503 781 870 partners@vivocarat.com
           </p> 
         </div>
        </div>
        
        <div class="row visible-xs hidden-sm hidden-md">
         <div class="col-xs-12 padding-top-30px no-padding-left-right">
          <p class="heading bold-font">Address</p>

           <p class="contact-information">
           302,Swaroop Centre
           </p>
           <p class="contact-information">
           JB Nagar Circle, Chakala
           </p>
           <p class="contact-information">
             Andheri East
           </p>
           <p class="contact-information">
              Mumbai - 400 059
           </p>
          </div>
        </div>
        
        <div class="row visible-sm visible-md hidden-xs">
         <div class="col-sm-12 padding-top-30px no-padding-left">
          <p class="heading bold-font">Address</p>

           <p class="contact-information">
           302,Swaroop Centre
           </p>
           <p class="contact-information">
           JB Nagar Circle, Chakala
           </p>
           <p class="contact-information">
             Andheri East
           </p>
           <p class="contact-information">
              Mumbai - 400 059
           </p>
          </div>
        </div>
        
  <div class="row visible-xs hidden-sm hidden-md">
   <div class="col-xs-12 padding-top-20px no-padding-left-right">
     <div class="row">
      <div class="col-xs-12 have-a-query">
                        HAVE A QUERY?
      </div>
     </div>

     <div class="row">

      <form>
       <div class="row contact-fields-background">

        <div class="col-xs-12 no-padding-left-right">

         <div class="row padding-top-17px">
          <div class="col-xs-2 normal-text grey-colour bold-font no-padding-right padding-top-2px">
               Name
          </div>

          <div class="col-xs-1 normal-text grey-colour bold-font padding-top-2px">
               :
          </div>

          <div class="col-xs-8 no-padding-left-right">
           <input class="contact-fields" type="text" Placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" data-ng-model="p.cname" required>
          </div>
         </div>

         <div class="row padding-top-17px">
          <div class="col-xs-2 normal-text grey-colour no-padding-right bold-font padding-top-2px">
                    Email
          </div>

          <div class="col-xs-1 normal-text grey-colour bold-font padding-top-2px">
                   :
          </div>

          <div class="col-xs-8 no-padding-left-right">
           <input class="contact-fields" type="text" Placeholder="Enter your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your email'" data-ng-model="p.cemail" required>
          </div>
         </div>

         <div class="row padding-top-17px">
          <div class="col-xs-2 normal-text grey-colour no-padding-right bold-font padding-top-2px">
              Phone
          </div>

          <div class="col-xs-1 normal-text grey-colour bold-font padding-top-2px">
              :
          </div>

          <div class="col-xs-8 no-padding-left-right">
           <input class="contact-fields" type="text" Placeholder="Enter your phone number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your phone number'" data-ng-model="p.cphone" required>
          </div>
         </div>

         <div class="row padding-top-17px padding-bottom-20px">
          <div class="col-xs-2 normal-text grey-colour no-padding-right bold-font padding-top-2px">
              Message
          </div>

          <div class="col-xs-1 normal-text grey-colour bold-font padding-top-2px">
              :
          </div>

          <div class="col-xs-8 no-padding-left-right">
           <input class="contact-fields" type="text" Placeholder="Enter your message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your message'" data-ng-model="p.cmessage" required>
          </div>
         </div>


     </div>
           
 </div>
 </form>

 <div>
  <a class="btn btn-vivo-checkout proceedbutton bold-font margin-top-0px" name="Submit" data-ng-click="addContact()">Submit</a>
 </div>

</div>

</div>

</div>
   
  <div class="row visible-sm visible-md hidden-xs">
   <div class="col-sm-12 padding-top-20px no-padding-left-right">
     <div class="row">
      <div class="col-sm-12 have-a-query">
                        HAVE A QUERY?
      </div>
     </div>

     <div class="row">

      <form>
       <div class="row contact-fields-background">

        <div class="col-sm-12 no-padding-left-right">

         <div class="row padding-top-17px">
          <div class="col-sm-2 normal-text grey-colour bold-font no-padding-right padding-top-2px">
               Name
          </div>

          <div class="col-sm-1 normal-text grey-colour bold-font padding-top-2px">
               :
          </div>

          <div class="col-sm-8 no-padding-left-right">
           <input class="contact-fields" type="text" Placeholder="Enter your name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your name'" data-ng-model="p.cname" required>
          </div>
         </div>

         <div class="row padding-top-17px">
          <div class="col-sm-2 normal-text grey-colour no-padding-right bold-font padding-top-2px">
                    Email
          </div>

          <div class="col-sm-1 normal-text grey-colour bold-font padding-top-2px">
                   :
          </div>

          <div class="col-sm-8 no-padding-left-right">
           <input class="contact-fields" type="text" Placeholder="Enter your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your email'" data-ng-model="p.cemail" required>
          </div>
         </div>

         <div class="row padding-top-17px">
          <div class="col-sm-2 normal-text grey-colour no-padding-right bold-font padding-top-2px">
              Phone
          </div>

          <div class="col-sm-1 normal-text grey-colour bold-font padding-top-2px">
              :
          </div>

          <div class="col-sm-8 no-padding-left-right">
           <input class="contact-fields" type="text" Placeholder="Enter your phone number" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your phone number'" data-ng-model="p.cphone" required>
          </div>
         </div>

         <div class="row padding-top-17px padding-bottom-20px">
          <div class="col-sm-2 normal-text grey-colour no-padding-right bold-font padding-top-2px">
              Message
          </div>

          <div class="col-sm-1 normal-text grey-colour bold-font padding-top-2px">
              :
          </div>

          <div class="col-sm-8 no-padding-left-right">
           <input class="contact-fields" type="text" Placeholder="Enter your message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your message'" data-ng-model="p.cmessage" required>
          </div>
         </div>


     </div>
           
 </div>
 </form>

 <div>
  <a class="btn btn-vivo-checkout proceedbutton bold-font margin-top-0px" name="Submit" data-ng-click="addContact()">Submit</a>
 </div>

</div>

</div>

</div>
  
  <div class="row padding-top-30px visible-xs hidden-sm hidden-md">
            <div class="col-xs-12 google-maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.0342944589356!2d72.8632563144684!3d19.106151387070582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8478e27b5d5%3A0xf3d09043b2998e9e!2sSwaroop+Centre!5e0!3m2!1sen!2sin!4v1482234650022" width="260" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>

            </div>
  </div>
        
  <div class="row padding-top-30px visible-md visible-sm hidden-xs">
            <div class="col-sm-12 google-maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.0342944589356!2d72.8632563144684!3d19.106151387070582!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c8478e27b5d5%3A0xf3d09043b2998e9e!2sSwaroop+Centre!5e0!3m2!1sen!2sin!4v1482234650022" width="1111" height="370" frameborder="0" style="border:0" allowfullscreen></iframe>

            </div>
  </div>
        
 </div>       
    </div>

