<vivo-header></vivo-header>

<div class="container visible-xs hidden-sm hidden-md padding-bottom-60px">
 
    <div class="row margin-top-80px">
        <div class="col-xs-12 no-pad extra-margin">
            <input type="text" placeholder="Name" class="borderfinish form-control vivo-input ng-pristine ng-valid ng-touched" data-ng-model="name">
        </div>
        <div class="col-xs-12 no-pad extra-margin">
         <label class="credsfont-sm padding-left-10px padding-right-10px">Email</label>
             {{email}}
        </div>
        <div class="col-xs-12 no-pad extra-margin">
            <input type="text" placeholder="Phone" class="borderfinish form-control vivo-input ng-pristine ng-valid ng-touched" data-ng-model="phone">
        </div>
        <div class="col-xs-12 no-pad extra-margin">
            <input type="text" placeholder="First Line" class="borderfinish form-control vivo-input ng-pristine ng-valid ng-touched" data-ng-model="first_line">
        </div>
        <div class="col-xs-12 no-pad extra-margin">
            <input type="text" placeholder="city" class="borderfinish form-control vivo-input ng-pristine ng-valid ng-touched" data-ng-model="city">
        </div>
        <div class="col-xs-12 no-pad extra-margin">
            <input type="text" placeholder="State" class="borderfinish form-control vivo-input ng-pristine ng-valid ng-touched" data-ng-model="state">
        </div>
        <div class="col-xs-12 no-pad extra-margin">
            <input type="text" placeholder="PIN" class="borderfinish form-control vivo-input ng-pristine ng-valid ng-touched" data-ng-model="pin">
        </div>
        <div class="col-xs-12 no-pad extra-margin">
            <input type="text" placeholder="Country" class="borderfinish form-control vivo-input ng-pristine ng-valid ng-touched" data-ng-model="country">
        </div>


        <div class="row text-center">
          <a data-ng-click="updateAccountDetails()" class="btn edit-button"> 
              Save 
          </a>
        </div>
        
    </div>
</div>


<div class="container visible-sm hidden-xs hidden-md padding-bottom-60px">
    <br/>
    <div class="row margin-top-80px">
        <div class="col-sm-12 no-pad extra-margin">
            <input type="text" placeholder="Name" class="borderfinish form-control vivo-input ng-pristine ng-valid ng-touched" data-ng-model="name">
        </div>
        <div class="col-sm-12 no-pad extra-margin">
            <label class="credsfont-sm padding-left-10px padding-right-10px">Email</label> {{email}}
        </div>
        <div class="col-sm-12 no-pad extra-margin">
            <input type="text" placeholder="Phone" class="borderfinish form-control vivo-input ng-pristine ng-valid ng-touched" data-ng-model="phone">
        </div>
        <div class="col-sm-12 no-pad extra-margin">
            <input type="text" placeholder="First Line" class="borderfinish form-control vivo-input ng-pristine ng-valid ng-touched" data-ng-model="first_line">
        </div>
        <div class="col-sm-12 no-pad extra-margin">
            <input type="text" placeholder="city" class="borderfinish form-control vivo-input ng-pristine ng-valid ng-touched" data-ng-model="city">
        </div>
        
        <div class="col-sm-12 no-pad extra-margin">
            <input type="text" placeholder="City" class="borderfinish form-control vivo-input ng-pristine ng-valid ng-touched" data-ng-model="city">
        </div>
        <div class="col-sm-12 no-pad extra-margin">
            <input type="text" placeholder="State" class="borderfinish form-control vivo-input ng-pristine ng-valid ng-touched" data-ng-model="state">
        </div>
        <div class="col-sm-12 no-pad extra-margin">
            <input type="text" placeholder="PIN" class="borderfinish form-control vivo-input ng-pristine ng-valid ng-touched" data-ng-model="pin">
        </div>
        <div class="col-sm-12 no-pad extra-margin">
            <input type="text" placeholder="Country" class="borderfinish form-control vivo-input ng-pristine ng-valid ng-touched" data-ng-model="country">
        </div>
        
        <div class="row text-center">
          <a data-ng-click="updateAccountDetails()" class="btn edit-button"> 
              Save 
          </a>
        </div>
        
    </div>
</div>




<vivo-footer></vivo-footer>