<style>
.right-left-pad {
    padding-right: 0px !important;
    padding-left: 5px !important;
    border: none !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.extra-pad {
    padding-top: 8% !important;
    padding-bottom: 8% !important;
    border: none !important;
}

.nav-tabs>li>a:hover {
    border-color: none;
}

.nav-tabs>li {
    width: 100%;
}

.nav-tabs>li>a:hover {
    background-color: white !important;
    margin-right: 0px !important;
}

.mobarrow {
    color:#E62739 !important;
}
</style>
<vivo-header></vivo-header>

<div class="mob-top-pad">
 <div data-ng-show="!isFilter" style="overflow-y:hidden;">
  <div style="border: 1px solid #eee;">

   <div class="row">
    <div class="col-xs-12 no-pad">
                        
     <div class="row" style="margin-top: 35px;">
      <div class="col-xs-12">
       <h4 class="head visible-xs hidden-md hidden-sm category-text" style="margin-top:0px;">
        <span data-ng-if="subtype=='q'">
            Search results for 
        </span>
        {{resultfor === "1" ? "All" : resultfor}} 
        <span data-ng-if="subtype!='q' && subtype!='w'" class="vivocarat-theme-colour">
            ({{subtype}})
        </span>
       </h4>
        
       <h4 class="head visible-sm visible-md hidden-xs category-text-sm">
        <span data-ng-if="subtype=='q'">
            Search results for 
        </span>
          {{resultfor === "1" ? "All" : resultfor}} 
        <span data-ng-if="subtype!='q' && subtype!='w'">
            ({{subtype}})
        </span>
       </h4>
      </div>
     </div>  
        
     <div class="row visible-xs hidden-md hidden-sm home-position">
      <div class="col-xs-8 filter-header-text no-padding-right">
        Home / {{resultfor === "1" ? "All" : resultfor}} 
       <span class="grey-colour" data-ng-if="subtype!='q' && subtype!='w'">
        - {{subtype}}
       </span>
      </div>

      <div class="col-xs-4 no-padding-left grey-colour text-right normal-text">
        {{count}} items
      </div> 
     </div>
                            
     <div class="row visible-sm visible-md hidden-xs home-position">
      <div class="col-sm-8 filter-header-text no-padding-right" style="padding-left: 15px;">
        Home / {{resultfor === "1" ? "All" : resultfor}} 
       <span class="grey-colour" data-ng-if="subtype!='q' && subtype!='w'">
        - {{subtype}}
       </span>
      </div>

      <div class="col-sm-4 no-padding-left grey-colour text-right normal-text">
        {{count}} items
      </div>  
     </div>
                                                    
     <vivo-product-list></vivo-product-list>
                        
     <div class="row" id='loadmore' tagged-infinite-scroll='loadMore()'></div>
                        
     <div class="clear" style="margin-bottom: 50px;"></div>
                        
    </div>
   </div>
            
  </div>
 </div>

<vivo-filter></vivo-filter>
    
</div>

<vivo-footer></vivo-footer>