<style>
     input[type=text] {
        font-family: 'leela' !important;
        border-radius: 0px;
        border: none;
        box-shadow: none;
    }
    
    input[type=numeric] {
        outline: inherit;
        font-family: 'leela' !important;
        border-radius: 0px;
        box-shadow: none;
    }
    
    input[type=email] {
        outline: inherit;
        font-family: 'leela' !important;
        border-radius: 0px;
        border: none;
        box-shadow: none;
    }
    
    input[type=password] {
        outline: inherit;
        font-family: 'leela' !important;
        border-radius: 0px;
        border: none;
        box-shadow: none;
    }
    
    .active {
        border-bottom: 2px solid #E62739;
        background-color: #eee !important;
        color: #E62739 !important;
    }
    
@media all and (max-width: 1024px) and (min-width: 1001px) {
        .margin-topper {
            margin-top: 57px !important;
        }
    }
    
@media (min-width: 768px) {
            .margin-topper {
                margin-top: 70px !important;
            }
        }
    

/*CSS for materializing input fields*/
.group {
        position: relative;
        margin-bottom: 20px;
        margin-top: 14px;
        font-size: 13px;
        text-align: center;
    }
    
    input {
        font-size: 18px;
        width: 300px;
        border: none;
        border-bottom: 1px solid #888888;
    }
    
    input:focus {
        outline: none;
    }
    
    .labelonpage {
        color: #888888 !important;
        font-size: 0.95em;
        font-weight: normal;
        position: absolute;
        pointer-events: none;
        top: 0px;
        padding-right: 20px;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
        width: 100%;
        display: block !important;
        text-align: left;
        padding-left: 13% !important;
    }
    
    input:focus ~ label {
        top: -20px;
        font-size: 14px;
        color: #E62739;
    }
    
    .bar {
        position: relative;
        display: block;
        width: 100%;
    }
    
    .bar:before,
    .bar:after {
        content: '';
        height: 2px;
        width: 0;
        bottom: 1px;
        position: absolute;
        background: #E62739;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
    }
    
    .bar:before {
        left: 38%;
    }
    
    .bar:after {
        right: 38%;
    }
    
    input:focus ~ .bar:before,
    input:focus ~ .bar:after {
        width: 50%;
    }
    
    input:focus ~ .highlight {
        -webkit-animation: inputHighlighter 0.3s ease;
        -moz-animation: inputHighlighter 0.3s ease;
        animation: inputHighlighter 0.3s ease;
    }
    
    @-webkit-keyframes inputHighlighter {
        from {
            background: #E62739;
        }
        to {
            width: 0;
            background: transparent;
        }
    }
    
    @-moz-keyframes inputHighlighter {
        from {
            background: #E62739;
        }
        to {
            width: 0;
            background: transparent;
        }
    }
    
    @keyframes inputHighlighter {
        from {
            background: #E62739;
        }
        to {
            width: 0;
            background: transparent;
        }
    }
/*END of CSS for materializing input fields*/
</style>

<vivo-header></vivo-header>

<div class="visible-xs hidden-md hidden-sm margin-top-60px">
    
<ul class="nav nav-tabs" role="tablist">
 <li role="presentation" class="text-center login-text-styling">
  <a data-target="#home" aria-controls="home" role="tab" data-toggle="tab">
      Register
  </a>
 </li>
    
 <li role="presentation" class="active text-center login-text-styling">
  <a data-target="#profile" aria-controls="profile" role="tab" data-toggle="tab">
      Login
  </a>
 </li>
</ul>
        
<div class="tab-content">
 <div role="tabpanel" class="tab-pane border-bottom-none" id="home">
 <div class="row">
  <div class="col-sm-12 no-pad">
   <div class="vivo-login-panel no-pad">
    <div class="register_account no-pad">
     <div class="wrap padding-top-30px width-100-percent">
      <form>
       <div class="row">
        <div class="col-xs-12 placeholdlight no-pad">
            
         <div class="group">
          <input type="text" class="text-center input-border" data-ng-model="customer_new.name" required>
          <span class="bar"></span>
          <label class="labelonpage">
           Name
           <sup class="required-star">*</sup>
          </label>
         </div>
            
         <div class="group">
          <input type="text" class="text-center input-border" data-ng-model="customer_new.phone" maxlength="10" pattern="(\+?\d[- .]*){10,10}" required>
          <span class="bar"></span>
          <label class="labelonpage">
           Phone Number
           <sup class="required-star">*</sup>
          </label>
         </div>
                                            
         <div class="group">
          <input type="email" class="text-center input-border" data-ng-model="customer_new.email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" required>
          <span class="bar"></span>
          <label class="labelonpage">
           Email
           <sup class="required-star">*</sup>
          </label>
         </div>
            
         <div class="group">
          <input type="password" class="text-center input-border" data-ng-model="customer_new.password">
          <span class="bar"></span>
          <label class="labelonpage">Password<sup class="required-star">*</sup></label>
          </div>
          <div class="normal-text grey-colour">{{message}}</div>
                                            
          <div class="row text-center terms-conditions-position">
           <input type="checkbox" name="address" data-ng-model="isNewAddress" class="width-20-percent" ng-init="isNewAddress=true">
           <span class="normal-text text-center">By clicking 'Create Account' you agree to the <a href="#i/terms" target="_blank" style="vivocarat-theme-colour bold-font">Terms &amp; Conditions</a>.
           </span>
          </div>
            
         </div>
        </div>
       </form>
         
       <div>
        <center>
         <input class="btn create-account-button" type="submit" name="Submit" data-ng-click="signup()" value="Create Account" data-target="#signIn">
        </center>
      </div>
     </div>
   </div>
  </div>
 </div>   
 </div>
  
</div>
    
<div role="tabpanel" class="tab-pane active border-bottom-none" id="profile">
<div class="row">
 <div class="col-xs-12 no-pad">
  <div class="vivo-login-panel no-pad">
   <div class="register_account no-pad">
    <div class="wrap padding-top-30px width-100-percent">
     <form>
      <div class="row">
       <div class="col-xs-12 placeholdlight padding-2px">
           
        <div class="group">
         <input id="modlgn_username" class="text-center input-border" data-ng-model="customer.email" type="text" name="email" size="18" autocomplete="off" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" required style="width:75%;padding-bottom: 0;margin-bottom: 0px;">
         <span class="bar"></span>
         <label class="labelonpage">
          Email
          <sup class="required-star">*</sup>
         </label>
        </div>
           
        <div class="group">
         <input data-ng-class="isPasswordError?'error-text':'correct-text'" id="modlgn_passwd" data-ng-model="customer.password" class="text-center input-border" type="password" name="password" size="18" autocomplete="off" style="width:75%;padding-bottom: 0;margin-bottom: 0px;">
         <span class="bar"></span>
         <label class="labelonpage">
          Password
          <sup class="required-star">*</sup>
         </label>
              {{message}}
        </div>

       

        <div class="normal-text">
         <center>
          <a data-toggle="modal" data-target="#myModal" class="normal-text">
              Forget Your Password ? 
          </a>
         </center>
        </div>
           
       </div>
      </div>
     </form>
                                
     <div>
      <center>
       <input type="submit" name="Submit" class="btn create-account-button" data-ng-click="loginUser(customer)" value="Login">

       <div class="row">
        <p class="text-center or-text">OR</p>
       </div>


       <div ng-click="authenticate('facebook')" class="row">
        <div class="btn facebook-login-button-structure">
         <img src="images/mobile/login/icons/login_fb_button-m.jpg" class="padding-right-10px" alt="Facebook social login">
            Login with Facebook
        </div>
       </div>

       <div ng-click="authenticate('google')" class="row padding-top-5px">
        <div class="btn google-plus-login-button-structure">
         <img src="images/mobile/login/icons/login_gmail_button-m.jpg" class="padding-right-10px" alt="Google social login">Login with Google
        </div>
       </div>

       <fb:login-button scope="public_profile,email" fb-login show-faces="false" max-rows="0" size="xlarge"></fb:login-button>
       </center>
      </div>

      </div>
     </div>
    </div>
  </div>   
</div>
 
</div>
</div>


<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index:9999">
 <div class="modal-dialog" role="document">
  <div class="modal-content">
   <div class="modal-header">
     <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
     </button>
     <h4 class="modal-title" id="myModalLabel" style="font-family:'leela'">Enter your email</h4>
   </div>
   <div class="modal-body">
    <input type="email" data-ng-model="femail" style="width: 270px;border: 1px solid #d2d2d2;" required>
   </div>
   <div class="modal-footer">
    <a class="btn btn-default btn-sx" data-dismiss="modal" style="font-family:'leela'">Cancel</a>
    <a data-ng-click="forgotPassword()" class="btn btn-vivo btn-sm" style="font-family:'leela'"> Forgot Password</a>
   </div>
                </div>
            </div>
        </div>
    
</div>

<div class="visible-sm hidden-xs visible-md margin-topper">
    
<ul class="nav nav-tabs" role="tablist">
 <li role="presentation" class="text-center login-text-styling">
  <a data-target="#homesm" aria-controls="home" role="tab" data-toggle="tab">
      Register
  </a>
 </li>
      
 <li role="presentation" class="active text-center login-text-styling">
  <a data-target="#profilesm" aria-controls="profile" role="tab" data-toggle="tab">
      Login
  </a>
 </li>
</ul>
     
<div class="tab-content">
<div role="tabpanel" class="tab-pane border-bottom-none" id="homesm">
<div class="row">
 <div class="col-sm-12 no-pad">
   <div class="vivo-login-panel no-pad">
    <div class="register_account no-pad">
     <div class="wrap no-pad" style="width: 75% !important">
      <form>
       <div class="row text-center">
        <div class="col-sm-12 placeholdlight padding-2px">
            
         <div class="margin-bottom-20px margin-top-30px">
          <input type="text" placeholder="Name*" data-ng-model="customer_new.name" maxlength="30" pattern="[A-Za-z-0-9]+" required class="text-center input-border">
         </div>
            
         <div class="margin-bottom-20px">
          <input type="text" placeholder="Phone Number*" data-ng-model="customer_new.phone" maxlength="10" pattern="(\+?\d[- .]*){10,10}" required class="text-center input-border">
         </div>
            
         <div class="margin-bottom-20px">
          <input type="email" placeholder="Email*" data-ng-model="customer_new.email" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" required class="text-center input-border">
         </div>
            
         <div class="margin-bottom-20px">
          <input data-ng-class="isPasswordError?'error-text':'correct-text'" type="password" placeholder="Password*" data-ng-model="customer_new.password" class="text-center input-border">
         </div>
          <div class="normal-text grey-colour">{{message}}</div>
            
         <div class="row text-center">
          By clicking 'Create Account' you agree to the <a target="_blank" href="#i/terms"><span class="vivocarat-theme-colour">Terms &amp; Conditions</span></a>.
         </div>
        </div>
       </div>
      </form>
      
    <div>
     <center>
      <input class="btn create-account-button" type="submit" name="Submit" data-ng-click="signup()" value="Create Account">
     </center>
    </div>
   </div>
  </div>
  </div>
  </div>   
</div>
  
</div>
    
<div role="tabpanel" class="tab-pane active border-bottom-none" id="profilesm">
<div class="row">
 <div class="col-sm-12 no-pad">
  <div class="vivo-login-panel no-pad">
   <div class="register_account no-pad">
    <div class="wrap no-pad" style="width: 75% !important">
     <form>
      <div class="row text-center">
       <div class="col-xs-12 placeholdlight">
           
         <div class="margin-bottom-20px margin-top-30px">
           <input id="modlgn_username" placeholder="Email*" data-ng-model="customer.email" type="text" name="email" size="18" autocomplete="off" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" required class="text-center input-border">
         </div>
           
         <div class="margin-bottom-20px">
          <input id="modlgn_passwd" data-ng-model="customer.password" placeholder="Password*" type="password" name="password" size="18" autocomplete="off" class="text-center input-border">
         </div>
                                            
         <div align="center">
          <a data-toggle="modal" data-target="#myModal1" class="normal-text">Forget Your Password ? </a>
         </div>
           
       </div>
      </div>
    </form>
        
   
     <center>
      <input type="submit" name="Submit" class="btn create-account-button" data-ng-click="loginUser(customer)" value="Login">

      <div class="row">
       <p class="or-text">OR</p>
      </div>


      <div ng-click="authenticate('facebook')" class="row">
       <div class="btn facebook-login-button-structure">
        <img src="images/mobile/login/icons/login_fb_button-m.jpg" class="padding-right-10px" alt="facebook social login">
           Login with Facebook
       </div>
      </div>

      <div ng-click="authenticate('google')" class="row padding-top-5px">
       <div class="btn google-plus-login-button-structure">
        <img src="images/mobile/login/icons/login_gmail_button-m.jpg" class="padding-right-10px" alt="Google social login">
           Login with Google
       </div>
      </div>

      <fb:login-button scope="public_profile,email" fb-login show-faces="false" max-rows="0" size="xlarge"></fb:login-button>
     </center>
                                
    </div>
                                
    </div>
   </div>
   </div>   
</div>
 
  </div>
 </div>
    
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" style="z-index:9999">
 <div class="modal-dialog" role="document">
  <div class="modal-content">
   <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>
    <h4 class="modal-title" id="myModalLabel" style="font-family:'leela'">Enter your email</h4>
   </div>
   <div class="modal-body">
    <input type="text" data-ng-model="femail" style="width: 400px;border: 1px solid #d2d2d2;">
   </div>
   <div class="modal-footer">
    <a class="btn btn-default btn-sx" data-dismiss="modal" style="font-family:'leela'">Cancel</a>
    <a data-ng-click="forgotPassword()" class="btn btn-vivo btn-sm" style="font-family:'leela'"> Forgot Password</a>
   </div>
  </div>
  </div>
 </div>
    
</div>
        

<vivo-footer></vivo-footer>