<style>
body{
    background-color: #e8ebf0 !important;
}
    

.odd-pad {
   padding-left: 5px !important;
   padding-right: 0px !important;
}
        
.even-pad {
   padding-right: 5px !important;
   padding-left: 0px !important;
}
</style>

<vivo-header></vivo-header>

<div class="container">

<div class="row mob-top-pad">
    
<div class="row">
 <div class="col-xs-12 no-pad">
  <img src="images/lookbook/lookbook header mobile.png" class="padding-top-30px padding-bottom-30px" alt="lookbook header">  
 </div>           
</div>
    
 <div class="row visible-xs hidden-sm hidden-md">
  <div data-ng-repeat="t in title" data-ng-class="$index%2==0?'even-pad':'odd-pad'" class="col-xs-6">
      
    <div class="row box-outside-shadow margin-bottom-10px">
     <div class="col-xs-12 lookbook-title-height">
      <a data-ng-href="#i/lookbookArticle/{{t.id}}">
      <p class="lookbook-title">
         {{t.title}}
      </p>
     </div>
        
     <div class="row">
      <div class="col-xs-12 no-padding-left-right">
       <img data-ng-src="images/lookbook/blogs/{{t.banner_img}}.jpg" alt="{{t.banner_img}}">  
      </div>  
     </div>
        
     <div class="row lookbook-footer-height">
      <div class="col-xs-8 category">
       {{t.category}}  
      </div>
         
      <div class="col-xs-4 created">
        {{t.created_at | dateToISO | date:'dd MMM'}} 
      </div>
     </div>
     </a>  
    </div>
      
  </div>  
 </div>
 
 <div class="row visible-sm visible-md hidden-xs">
  <div data-ng-repeat="t in title" data-ng-class="$index%2==0?'even-pad':'odd-pad'" class="col-xs-6 padding-bottom-10px">
      
    <div class="row box-outside-shadow">
     <div class="col-sm-12 lookbook-title-height-sm">
      <a data-ng-href="#i/lookbookArticle/{{t.id}}">
       <p class="lookbook-title-sm">
          {{t.title}}
       </p>
     </div>
        
     <div class="row">
      <div class="col-sm-12 no-padding-left-right">
       <img data-ng-src="images/lookbook/blogs/{{t.banner_img}}.jpg" alt="{{t.banner_img}}">  
      </div>  
     </div>
        
     <div class="row white-background">
      <div class="col-sm-7 text-left no-padding-right category-sm">
       {{t.category}}  
      </div>
         
      <div class="col-sm-5 text-right no-padding-left category-sm">
        {{t.created_at | dateToISO | date:'dd MMMM'}} 
      </div>
     </div>
     </a>   
    </div>
      
  </div>  
 </div>
 
</div>

</div>
<vivo-footer></vivo-footer>