<vivo-header></vivo-header>

<div class="mob-top-pad">

<div class="row visible-xs hidden-sm hidden-md">
 <div class="col-xs-7 vivocarat-heading">PRIVACY POLICY</div>

 <div class="col-xs-5 categoryGrad">

 </div>
</div>
    
 <div class="container visible-xs hidden-sm hidden-md">
    
<div class="row">
 <div class="col-xs-12 no-pad">
  <p class="about-styling no-pad">
     Thank you for visiting VivoCarat.com. We value the trust you place in us. That's why we insist upon the highest standards for secure transactions and customer information privacy. This section pertains to the Privacy Policy of the website and native mobile applications.
  </p>
     
  <span class="about-styling privacy-heading">
        Collection of Personally Identifiable Information
  </span>
     
  <p class="about-styling no-pad">
     By accepting this privacy policy, you authorize VivoCarat.com to collect, store and use any information that you provide on our Website or native mobile applications. The information collected by us include but are not restricted to,
  </p>
     
  <p class="about-styling no-pad">
     A) All information entered by you on our website and native mobile applications such as your name, address, contact number, email ID , chat history , and such other information sent by you via emails to our email ID.
  </p>
     
  <p class="about-styling no-pad">
     B) Information collected by means of cookies that are installed on your hard drive. Information such as the IP Address of your computer, the server from which you are accessing our website and native mobile applications, details of web browser and operating system used to access our website or native mobile applications, date, time and place of accessing of our website and native mobile applications etc.
  </p>
     
  <span class="about-styling  privacy-heading">
        Cookies
  </span>
     
  <p class="about-styling no-pad">
     A "cookie" is a small piece of information stored by a Web server on a Web browser so it can be later read back from that browser. Cookies are useful for enabling the browser to remember information specific to a given user. VivoCarat.com places both permanent and temporary cookies in your computer's hard drive. VivoCarat.com's cookies do not contain any of your personally identifiable information.
  </p>
     
  <span class="about-styling privacy-heading">
      Use of information collected
  </span>
     
  <p class="about-styling no-pad">
     VivoCarat.com owns all the information collected via the Website or applications installed on the website or native mobile applications. As applicable, the information collected by VivoCarat.com shall be used to contact you about the Website or native mobile applications and related news and Services available on the Website or native mobile applications; to monitor and improve the Website or native mobile applications; calculate the number of visitors to the Website or native mobile applications and to know the geographical locations of the visitors; update you on all the special offers available on the Website or native mobile applications and provide you with a better shopping experience. This includes sending email intimating regarding the various offers on the website or native mobile applications. You may at any time choose to unsubscribe from such email. Some of your information may be shared with and Used by third parties who shall need to have access to Information, such as courier companies, credit card processing companies, vendors etc. to enable them and VivoCarat.com perform their duties and fulfill your order requirements. VivoCarat.com does not allow any unauthorized persons or organization to use any information that VivoCarat.com may collect from you through the Website and native mobile applications. However, VivoCarat.com and our native mobile applications are not responsible for any information collected or shared or used by any other third party website or mobile applications due to your browser settings.
  </p>
     
  <p class="about-styling no-pad">
     VivoCarat.com, reserves the right to share any of your personal information to comply with the orders of subpoenas, court orders or other legal process. Your Personal Information may be disclosed pursuant to such subpoenas, court order or legal process, which shall be without notice to you.
  </p>
     
  <p class="about-styling no-pad">
     VivoCarat.com may share collective information such as demographics and Website or mobile application usage statistics with our sponsors, advertisers or other third parties (such third parties do not include VivoCarat.com's marketing partners and network providers). When this type of information is shared, such parties do not have access to your Personal Information. When you contact VivoCarat.com through any means such as chat/ email, VivoCarat.com reserves the right to include your email ID for marketing communications. You can unsubscribe from such communications anytime you wish to do so.
  </p>
     
  <p class="about-styling no-pad">
     The Website and native mobile applications may contain links which may lead you to other Websites or other mobile applications. Please note that once you leave our Website or native mobile applications you will be subjected to the Privacy Policy of the other website, mobile applications and this Privacy Policy will no longer apply.
  </p>
     
  <p class="about-styling no-pad" style="margin-top: 30px;margin-bottom: 20px">
     BY USING THE WEBSITE OR NATIVE MOBILE APPLICATIONS, YOU SIGNIFY YOUR AGREEMENT TO THE TERMS OF THIS PRIVACY POLICY, VIVOCARAT.COM RESERVES THE RIGHT, IN OUR SOLE DISCRETION, TO CHANGE, MODIFY, ADD OR DELETE PORTIONS OF THE TERMS OF THIS PRIVACY POLICY AT ANY TIME.
  </p>
     
  <span class="about-styling privacy-heading">
        Queries
  </span>
     
  <p class="about-styling no-pad">
     For any Queries regarding this section please contact at 
   <a href="mailto:hello@vivocarat.com">hello@vivocarat.com</a>
  </p>
     
 </div>   
</div>
        
        
      
</div>
</div>

<div class="mob-top-pad">
    
<div class="row visible-sm visible-md hidden-xs padding-top-25px">
 <div class="col-sm-4 vivocarat-heading-sm">PRIVACY POLICY</div>

 <div class="col-sm-8 categoryGrad-sm">

 </div>
</div>
    
 <div class="container visible-sm hidden-xs visible-md">
    
<div class="row">
 <div class="col-sm-12 no-pad">
  <p class="about-styling-sm no-pad">
     Thank you for visiting VivoCarat.com. We value the trust you place in us. That's why we insist upon the highest standards for secure transactions and customer information privacy. This section pertains to the Privacy Policy of the website and native mobile applications.
  </p>
     
  <span class="about-styling-sm privacy-heading-sm">
        Collection of Personally Identifiable Information
  </span>
     
  <p class="about-styling-sm no-pad">
     By accepting this privacy policy, you authorize VivoCarat.com to collect, store and use any information that you provide on our Website or native mobile applications. The information collected by us include but are not restricted to,
  </p>
     
  <p class="about-styling-sm no-pad">
     A) All information entered by you on our website and native mobile applications such as your name, address, contact number, email ID , chat history , and such other information sent by you via emails to our email ID.
  </p>
     
  <p class="about-styling-sm no-pad">
     B) Information collected by means of cookies that are installed on your hard drive. Information such as the IP Address of your computer, the server from which you are accessing our website and native mobile applications, details of web browser and operating system used to access our website or native mobile applications, date, time and place of accessing of our website and native mobile applications etc.
  </p>
     
  <span class="about-styling-sm privacy-heading-sm">
        Cookies
  </span>
     
  <p class="about-styling-sm no-pad">
     A "cookie" is a small piece of information stored by a Web server on a Web browser so it can be later read back from that browser. Cookies are useful for enabling the browser to remember information specific to a given user. VivoCarat.com places both permanent and temporary cookies in your computer's hard drive. VivoCarat.com's cookies do not contain any of your personally identifiable information.
  </p>
     
  <span class="about-styling-sm privacy-heading-sm">
        Use of information collected
  </span>
     
  <p class="about-styling-sm no-pad">
     VivoCarat.com owns all the information collected via the Website or applications installed on the website or native mobile applications. As applicable, the information collected by VivoCarat.com shall be used to contact you about the Website or native mobile applications and related news and Services available on the Website or native mobile applications; to monitor and improve the Website or native mobile applications; calculate the number of visitors to the Website or native mobile applications and to know the geographical locations of the visitors; update you on all the special offers available on the Website or native mobile applications and provide you with a better shopping experience. This includes sending email intimating regarding the various offers on the website or native mobile applications. You may at any time choose to unsubscribe from such email. Some of your information may be shared with and Used by third parties who shall need to have access to Information, such as courier companies, credit card processing companies, vendors etc. to enable them and VivoCarat.com perform their duties and fulfill your order requirements. VivoCarat.com does not allow any unauthorized persons or organization to use any information that VivoCarat.com may collect from you through the Website and native mobile applications. However, VivoCarat.com and our native mobile applications are not responsible for any information collected or shared or used by any other third party website or mobile applications due to your browser settings.
  </p>
     
  <p class="about-styling-sm no-pad">
     VivoCarat.com, reserves the right to share any of your personal information to comply with the orders of subpoenas, court orders or other legal process. Your Personal Information may be disclosed pursuant to such subpoenas, court order or legal process, which shall be without notice to you.
  </p>
     
  <p class="about-styling-sm no-pad">
     VivoCarat.com may share collective information such as demographics and Website or mobile application usage statistics with our sponsors, advertisers or other third parties (such third parties do not include VivoCarat.com's marketing partners and network providers). When this type of information is shared, such parties do not have access to your Personal Information. When you contact VivoCarat.com through any means such as chat/ email, VivoCarat.com reserves the right to include your email ID for marketing communications. You can unsubscribe from such communications anytime you wish to do so.
  </p>
     
  <p class="about-styling-sm no-pad">
     The Website and native mobile applications may contain links which may lead you to other Websites or other mobile applications. Please note that once you leave our Website or native mobile applications you will be subjected to the Privacy Policy of the other website, mobile applications and this Privacy Policy will no longer apply.
  </p>
     
  <p class="about-styling-sm no-pad margin-top-30px margin-bottom-20px">
     BY USING THE WEBSITE OR NATIVE MOBILE APPLICATIONS, YOU SIGNIFY YOUR AGREEMENT TO THE TERMS OF THIS PRIVACY POLICY, VIVOCARAT.COM RESERVES THE RIGHT, IN OUR SOLE DISCRETION, TO CHANGE, MODIFY, ADD OR DELETE PORTIONS OF THE TERMS OF THIS PRIVACY POLICY AT ANY TIME.
  </p>
     
  <span class="about-styling-sm privacy-heading-sm">
      Queries
  </span>
     
  <p class="about-styling-sm no-pad">
     For any Queries regarding this section please contact at 
   <a href="mailto:hello@vivocarat.com">hello@vivocarat.com</a>
  </p> 
     
 </div>   
</div>
        
        
</div>
</div>

<vivo-footer></vivo-footer>