<div class="well" data-ng-hide="isLoaded"> Loading</div>
                        
<div class="top-box1" data-ng-mouseover="closeFilter()" data-ng-show="isLoaded">

<div class="row well" data-ng-show="resultList.length<1">
        No products found
</div>
    
<div class="row">
 <div data-ng-show="isGrid" data-ng-repeat="p in resultList track by $index | orderBy:predicate:reverse" class="col-xs-6 no-pad">

  <div class="vivo-box-padding vivo-grid" style="margin-top: 3px;">

   <a href="#p/{{p.id}}">
    <div class="inner_content clearfix box-outside-shadow">
     <div class="tag">
      <img data-ng-if="p.ready_to_ship==1" src="images/list/icons/ready-to-ship.png" alt="ready to ship">
     </div>

     <img class="img-responsive  width-100-percent" src="images/list/icons/image filler.jpg" actual-image="images/products-v2/{{p.VC_SKU}}-t.jpg" alt="{{p.title}}">

     <div class="row padding-5px">
      <div class="row hidden-sm visible-xs hidden-md">

       <div class="row margin-top-10px">
        <div class="col-sm-12 text-center">

        </div>
       </div>

        <div class="row padding-left-10px margin-bottom-10px">
         <div class="row" data-ng-hide=" p.discount==0">
          <div class="col-xs-6 grid-price-before no-pad">
              RS. {{p.price_before_discount | INR}}
          </div>
          <div class="col-xs-6 grid-off no-pad"> 
              {{p.discount}}% OFF 
          </div>
         </div>
         
         <div class="row" data-ng-show="p.discount==0">
          <div style="padding-bottom:17px;"></div>
         </div>
                                
         <div class="row">
          <div class="col-xs-12 grid-price-after no-padding-left">
              RS. {{p.price_after_discount | INR}}
          </div>
         </div>
        </div>
          
       </div>

       <div class="row hidden-xs visible-sm visible-md">

        <div class="row margin-top-10px">
         <div class="col-sm-12 text-center">

         </div>
        </div>

        <div class="row padding-left-10px margin-bottom-10px">
         <div class="row" data-ng-hide=" p.discount==0">
          <div class="col-xs-6 grid-price-before-sm no-pad">
              RS. {{p.price_before_discount | INR}}
          </div>
          <div class="col-xs-6 grid-off-sm no-pad"> 
            {{p.discount}}% OFF 
          </div>
         </div>
            
         <div class="row" data-ng-show="p.discount==0">
          <div style="padding-bottom:17px;"></div>
         </div>

         <div class="row">
          <div class="col-xs-12 grid-price-after-sm no-padding-left">
            RS. {{p.price_after_discount | INR}}
          </div>
         </div>
        </div>
           
       </div>
      </div>
     </div>
    </a>
        
   </div>

 </div>   
</div>   
    

</div>

<div class="row" id='loadmore' tagged-infinite-scroll='loadMore()'></div>

<div class="clear" style="margin-bottom: 50px;"></div>